/*

local css

*/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 177px;
}

nav.navbar + .page-header { margin-top: 10px; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer .alert {
  text-align: justify;
  font-size: 8px;
}

/* styling del header principal */
.page-header h2 {
  font-size: 50px;
  color: #999999;
  margin-left: 80px;
  padding-top: 20px;
}

/* color de la barra de navegacion */
.navbar-inverse {
  background-color: #4096ee;
  border-color: #cccccc;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover { background-color: #A1C4F0; }

/* color del texto de la barra de navegacion */
.navbar-inverse .navbar-nav > li > a { color: #fff; }

/*

form styling

*/

fieldset { margin-top: 20px; }

legend {
  padding: 10px 0px 10px 20px;
  background-color: #cbefff;
}

.section-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* cotizacion */

.cotizacion .form-group {
  margin-bottom: 0px;
}

.cotizacion .form-group .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cotizacion .form-group .checkbox label {
  min-height: 12px;
}

.cotizacion input[type=submit] {
  margin-top: 20px;
}

/*

tables

*/

.table thead ~ thead tr th {
  padding-top: 25px;
}

/*

login

*/
.login {
  padding-top: 0px;
  margin-bottom: 30px;
}

.login .login-container {
  margin: 0 auto;
  float: none;
}

.login .logo img {
  width: 100%;
  max-width: 180px;
  max-height: 85px;
  display: block;
  margin: 10px auto;
}


/*

busqueda

*/

.search {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.search label {
  display: block;
  width: 100%;
}
.search input {
  width: 480px;
  display: block;
  float: left;
}

.search input + input {
  width: 100px;
  margin-left: 20px;
}

.search ~ table tbody tr:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

/*

odontograma

*/

/* svg */
svg\:svg { display: none; }

.svg_error {
  color: red;
  font-weight: bold;
}

.odontograma {
  background-color: #cbefff;
  border-color: #a8e1fa;
}

.odontograma img { max-width: 100%; }

.odontograma .table > thead > tr > th { border-bottom-color: #a8e1fa; }

.odontograma form { position: absolute; }

.odontograma ~ .clearfix form .lead { margin-top: 20px; }

#odontograma {
  width: 620px;
  margin: 0 auto;
}

#formsets fieldset {
  float: left;
  margin-top: 0px;
  margin-bottom: 20px;
}

#formsets ul {
  margin: 0px;
  padding: 0px;
}

#formsets li { list-style: none; }

#formsets .form-inline { width: 98%; }

#formsets .bin { margin-top: 5px; }

#formsets .form-group label,
#formsets .form-group .controls { display: inline; }

#formsets .form-group label { margin: 7px 7px 0px 0px; }

#formsets .form-group .controls { margin-right: 20px; }

#formsets .form-group:first-of-type .controls input { width: 45px; }

#formsets .form-group:nth-child(3) .controls select { width: 90px; }

#formsets .form-group .controls textarea {
  max-width: 100%;
  height: 34px;
}

#formsets .form-group:nth-child(4),
#formsets .form-group:nth-child(5) { width: 25%; }

#formsets .form-group:nth-child(4) .controls { width: 61%; }

#formsets .form-group:nth-child(4) .controls textarea { max-width: 58%; }

#formsets .form-group:nth-child(5) .controls {
    width: 77%;
    margin-right: 0px;
}

#formsets ul li .form-group:nth-child(5) .controls textarea { max-width: 74%; }

#tooth-images {
  position: relative;
  bottom: 305px;
  height: 60px;
  width: 620px;
  margin: 0 auto;
}

#tooth-images img + img { margin-left: 10px; }

#tooth-images img[alt="11"] { margin-right: 5px; }

#tooth-images .bottom {
  position: relative;
  top: 125px;
  left: 5px;
}

#tooth-images .bottom img[alt="47"],
#tooth-images .bottom img[alt="38"] { margin-left: 5px; }

#tooth-images .bottom img[alt="46"] { margin-left: 6px; }

#tooth-images .bottom img[alt="43"],
#tooth-images .bottom img[alt="34"] { margin-left: 15px; }

#tooth-images .bottom img[alt="42"],
#tooth-images .bottom img[alt="36"] { margin-left: 12px; }

#tooth-images .bottom img[alt="41"] {
  margin-left: 16px;
  margin-right: 15px;
}

#tooth-images .bottom img[alt="32"] { margin-left: 16px; }

#tooth-images .bottom img[alt="33"] { margin-left: 13px; }

#tooth-images .bottom img[alt="37"] { margin-left: 7px; }

.normalized-btn { margin: 20px; }
