/*

local css

*/
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 177px;
}

nav.navbar + .page-header { margin-top: 10px; }

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer .alert {
    text-align: justify;
    font-size: 8px;
}

/* styling del header principal */
.page-header h2 {
    font-size: 50px;
    color: #999999;
    margin-left: 80px;
    padding-top: 20px;
}

/* color de la barra de navegacion */
.navbar-inverse {
    background-color: #4096ee;
    border-color: #cccccc;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover { background-color: #A1C4F0; }

/* color del texto de la barra de navegacion */
.navbar-inverse .navbar-nav > li > a { color: #fff; }

/* p del forms odontograma */
.parrafo{
    font-size:  30px;
}

/*

busqueda

*/

.search {
    max-width: 600px;
    margin: 0 auto;
}
.search label {
    display: block;
    width: 100%;
}
.search input {
    width: 480px;
    display: block;
    float: left;
}

.search input + input {
    width: 100px;
    margin-left: 20px;
}

.search ~ table tbody tr:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
