/*

local css

*/

body {
	padding-top: 70px;
}

nav.navbar + .page-header {
	margin-top: 10px;
}

footer {
	margin-top: 40px;
}

footer .alert {
	text-align: justify;
}

/*color de la barra de navegacion */
.navbar-inverse {
background-color:       #4096EE;
border-color:           #ccc;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #A1C4F0;
}
/*color del texto de la barra de navegacion*/
.navbar-inverse .navbar-nav>li>a {
color: #fff;
}

.muela img{

    margin-left: 800px !important;
    float:right;
    margin-top: -40px;
}
.alert-danger{
width: auto;
font-size: 8px;
font-family: sans-serif;
}

.page-header h2{
    font-size: 50px;
    color: rgba(54,57,61,0.5);
    margin-left: 100px !important;
    float: left;
}

/*P del forms actividades clinicas*/

.parrafo{
    font-size:  30px;
}

/*

form styling

*/

fieldset { margin-top: 20px; }

legend {
    padding: 10px 0px 10px 20px;
    background-color: #cbefff;
}

.section-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
