<html>

<head>
<title> {%block title%}  {%endblock%}</title>

        {%load static from staticfiles %}
       <link rel="stylesheet" href="{% static 'css/style.css'%}">
       <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

   <script src="{{ STATIC_URL }}js/script.js"></script>
</head>
<body>

{% block menu %}

    <div id='cssmenu'>
        <ul>
            <li><a href='/paciente'>Alta de Pacientes</a></li>
           <li><a href='/lista'>Lista de Pacientes</a></li>
            <li><a href='/main'>Detalles de Pacientes Registrados</a></li>

            <li class='active has-sub'><a href="#">Interrogatorio Dental</a>
              <ul>
                 <li class='has-sub'><a href='/interrogatorio'>General</a> </li>
                 <li class='has-sub'><a href='/interrogatorio'>Cirugia Maxilofacial</a> </li>
                 <li class='has-sub'><a href='/interrogatorio'>Endodoncia</a> </li>
                 <li class='has-sub'><a href='/interrogatorio'>Ortodoncia</a> </li>
                 <li class='has-sub'><a href='/interrogatorio'>Periodoncia</a> </li>
              </ul>
           </li>


            <li><a href='/odontograma'>Odontogrma</a></li>
            <li><a href='#'>Plan de Tratamiento</a></li>
            <li><a href='#'>Historial de Procedimientos</a></li>




<!--
        <li class='active has-sub'><a href="/lista ">Interrogatorio Dental</a>
              <ul>
                 <li class='has-sub'><a href='interrogatorio'>General</a>
                    <ul>
                       <li><a href='#'>Sub Product</a></li>
                       <li><a href='#'>Sub Product</a></li>
                    </ul>
                 </li>
                 <li class='has-sub'><a href='#'>Product 2</a>
                    <ul>
                       <li><a href='#'>Sub Product</a></li>
                       <li><a href='#'>Sub Product</a></li>
                    </ul>
                 </li>
              </ul>
           </li>
-->

        </ul>
    </div>

{% endblock menu%}

{% block content %}




 {% endblock content%}

    {%block footer%}

        <hr>
        <p>Gracias por Usar El Sistema Dental Mediexcel Health Plan.</p>
    {%endblock footer%}
</body>
</html>

