{% extends "dash.html" %}

{% block title %}Grupos Registradaos{% endblock %}

{% block content %}

<h2 class="page-header">Grupos Registrados</h2>

{% if grupos %}
<table class="table table-hover">
  <thead>
    <tr>
      <th># de Grupo</th>
      <th>Nombre</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for grupo in grupos %}
    <tr>
      <td>{{ grupo.numero }}</td>
      <td>{{ grupo.nombre }}</td>
      <td class="text-right"><a href="{% url altas:grupo_edit grupo.id %}" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url altas:grupo_new %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Registrar Nuevo Grupo</a>
{% else %}
<p class="lead text-center text-muted">No hay grupos registrados.<br><br><a href="{% url altas:grupo_new %}" class="btn btn-primary">Registrar un Grupo <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endif %}
{% endblock content %}
