{% extends 'dash.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Registro de Medico {% endblock %}

{% block content %}
<h2 class="page-header">Registro de M&eacute;dico</h2>

<form action="" method="post" class="clearfix">
  {% if medico_user_form %}
    {% crispy medico_user_form %}
    {% crispy medico_form %}
  {% else %}
    {% crispy form %}
  {% endif %}
  <input type="submit" value="Guardar" class="btn btn-primary pull-right normalized-btn">
</form>
{% endblock content %}
