{% extends "dash.html" %}
{%load static from staticfiles %}

{% block title %}Pacientes Registrados{% endblock %}

{% block content %}

<h2 class="page-header">Pacientes Registrados</h2>

{% if pacientes %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Grupo</th>
      <th>Apellido</th>
      <th>Apellido Materno</th>
      <th>Nombre(s)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td>{{ paciente.credencialPaciente }}</td>
      <td>{{ paciente.grupo }}</td>
      <td>{{ paciente.apellidoPaterno }}</td>
      <td>{{ paciente.apellidoMaterno }}</td>
      <td>{{ paciente.nombre }}</td>
      <td><a href="{% url altas:paciente_edit paciente.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url altas:paciente_new %}" class="btn btn-primary pull-right">Registrar Nuevo Paciente <span class="glyphicon glyphicon-plus"></span></a>
{% else %}
<p class="lead text-center text-muted">No hay pacientes registrados en la base de datos.<br><br><a href="{% url altas:paciente_new %}" class="btn btn-primary">Registrar Paciente <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endif %}
{% endblock content %}
