{% extends "dash.html" %}

{%load static from staticfiles %}

{%block title%}Detales de Paciente{%endblock%}

{% block content %}
<div class="col-md-8">

  <div class="well odontograma clearfix row">

    <div class="col-xs-2">

      <img src="{% static paciente.imagen %}" alt="{{ paciente.nombre }} {{ paciente.apellidoPaterno }}">

    </div>

    <div class="col-xs-10">

      <table class="table">

        <thead>

          <tr>

            <th>Grupo</th>
            <th>Teléfono</th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td>{{ paciente.grupo }}</td>
            <td>{{ paciente.telefono }}</td>

          </tr>

        </tbody>

      </table>

    </div>

  </div><!-- patient info section -->

  <h3 class="page-header">Tratamientos Autorizados</h3>
  <table class="table table-bordered table-hover">

    <thead>

      <tr>

        <th>Pieza</th>
        <th>Cara</th>
        <th>Procedimiento</th>
        <th>Observaciones</th>
        <th>Status</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>
      <!-- {% for procedimiento in procedimientos %}
      <tr>
        <td>{{ procedimiento.pieza }}</td>
        <td>{{ procedimiento.get_cara_display }}</td>
        <td>{{ procedimiento.tratamiento }}</td>
        <td>{{ procedimiento.observaciones }}</td>
      </tr>
      {% endfor %} -->
      <!-- TODO: quitar esto y correjir lo de arriba. es por mientras -->
      <tr>

        <td>11</td>
        <td>Vestibular</td>
        <td>D6211 Pontic - Cast Predominantly Base Metal</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td><span class="label label-primary">Autorizado</span></td>
        <td><input type="checkbox"></td>

      </tr>

      <tr>

        <td>24</td>
        <td>Pieza Completa</td>
        <td>D2740 Crown - Porcelain/Ceramic Substrate</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td><span class="label label-primary">Autorizado</span></td>
        <td><input type="checkbox"></td>

      </tr>

    </tbody>

  </table>

  <p class="text-right text-muted">Pulse el boton para marcar los tratamientos seleccionados como realizados <button type="submit" class="btn btn-success">Actualizar</button></p>

</div>

<div class="col-md-4">
  <h3 class="page-header">&Uacute;ltimos Odontogramas</h3>
  {% if odontograma %}
    {% for odontograma in odontograma %}
    <h4><a href="/clinica/detalle/{{ paciente.id }}/odontograma/{{ odontograma.id }}/">{{ odontograma.created_at }}</a></h4>
    <p><strong>{{ odontograma.diagnostico.nombre }}</strong>{{ odontograma.notas }}</p>
    {% endfor %}
  {% else %}
  <p class="lead text-muted">No hay odontogramas.</p>
  <a href="/clinica/odontograma/{{ paciente.id }}/" class="btn btn-primary btn-block">Nuevo Odontograma <span class="glyphicon glyphicon-plus"></i></a>
  {% endif %}
  </ul>
</div>

{% endblock content %}
