{% extends "dash.html" %}

{%load static from staticfiles %}

{%block title%}Plan de Tratamiento{%endblock%}

{% block content %}

    <h3 class="page-header">Historial de Procedimientos</h3>

    {% if procedimientos %}
    <table class="table table-bordered table-hover">

      <thead>

        <tr>

          <th>Pieza</th>
          <th>Cara</th>
          <th>Procedimiento</th>
          <th>Status</th>
          <th>&nbsp;</th>

        </tr>

      </thead>

      <tbody>

        {% for procedimiento in procedimientos %}
        <tr>
          <td class="padded">{{ procedimiento.pieza }}</td>
          <td class="padded">{{ procedimiento.get_cara_display }}</td>
          <td class="padded">{{ procedimiento.tratamiento }}</td>
          <td class="padded"><span class="label">{{ procedimiento.get_status_display }}</span></td>
          <td><a href="{% url clinica:historial_detail procedimiento.id %}" class="btn btn-default">Ver</a></td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
    {% else %}
    <p class="lead text-muted text-center">No hay tratamientos completados.</p>
    {% endif %}

{% endblock content %}

{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'Autorizado'){

      status.addClass(' label-primary');

    } else if(status.text() == 'En Proceso'){

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>
{% endblock javascript %}
