{% extends "dash.html" %}
{% load static from staticfiles %}

{% block title %}Expediente Medico y Dental{% endblock %}

{% block content %}
<!--
{% load dajaxice_templatetags %}
 script inecesario (activarlo hasta la segunda iteracion)
<script src="{% static 'js/jquery.dajax.core.js'%}"></script>
{% dajaxice_js_import %}-->


<h2 class="page-header">Expediente M&eacute;dico y Dental{% if paciente.interrogatorio_set.get %}
<small><a href="{% url clinica:pdf paciente.id %}" class="pull-right"><i class="fa fa-print fa-fw"></i>
 Imprimir</a></small>{% endif %}</h2>



{% if paciente.interrogatorio_set.get %}
{% with interrogatorio=paciente.interrogatorio_set.get %}
<h3 class="page-header">Antecedentes Patológicos Hereditarios</h3>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <th>Madre: </th>
      <td>{{ interrogatorio.herencia_madre }}</td>
    </tr>
    <tr>
      <th>Padre: </th>
      <td>{{interrogatorio.herencia_padre}}</td>
    </tr>
    <tr>
      <th>Hermanos: </th>
      <td>{{interrogatorio.herencia_hermanos}}</td>
    </tr>
    <tr>
      <th>Hijos: </th>
      <td>{{interrogatorio.herencia_hijos}}</td>
    </tr>
    <tr>
      <th>Esposo (a): </th>
      <td>{{interrogatorio.herencia_esposos}}</td>
    </tr>
    <tr>
      <th>Tios: </th>
      <td>{{interrogatorio.herencia_tios}}</td>
    </tr>
    <tr>
      <th>Abuelos: </th>
      <td>{{interrogatorio.herencia_abuelos}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Antecedentes personales Patológicos</h3>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <th>Enfermedades inflamatorias: </th>
      <td>{{interrogatorio.e_inflamatorias_not_opciones}}</td>
      <th>Enfermedades de trans. sexual: </th>
      <td>{{interrogatorio.ets}}</td>
    </tr>
    <tr>
      <th>Enfermedades degenerativas: </th>
      <td>{{interrogatorio.e_degenerativas}}</td>
      <th>Enfermedades neoplásicas: </th>
      <td>{{interrogatorio.e_neoplasticas}}</td>
    </tr>
    <tr>
      <th>Enfermedades congénitas: </th>
      <td>{{interrogatorio.e_congenitas}}</td>
      <th>Otras: </th>
      <td>{{interrogatorio.otras}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Antecedentes personales No Patológicos</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th colspan="6">Hábitos higiénicos (En el vestuario) </th>
    </tr>
    <tr colspan="6">
      <td>{{interrogatorio.habitos_higienicosVest}}</td>
    </tr>
    <tr>
      <th colspan="6">Hábitos higiénicos (Corporales) </th>
    </tr>
    <tr>
      <td colspan="6">{{interrogatorio.habitos_higienicos_corp}}</td>
    </tr>
    <tr>
      <th>¿Con que Frecuencia se lava los dientes? </th>
      <td>{{interrogatorio.frecuenciaLavadoDental}}</td>
      <th>¿Utiliza auxiliares de higiene bucal? </th>
      <td>{{interrogatorio.uxiliaresBucales}}</td>
      <th>Consumo de alimentos entre comidas (golosinas,otros) </th>
      <td>{{interrogatorio.consumo_de_golosinas}}</td>
    </tr>
    <tr>
      <th>Grupo sanguíneo </th>
      <td>{{interrogatorio.grupo_sanguineo}}</td>
      <th>Factor Rh </th>
      <td>{{interrogatorio.factor_rh}}</td>
      <th>¿Cuenta con Cartilla de vacunación? </th>
      <td>{{interrogatorio.cartilla_de_vacunacion}}</td>
    </tr>
    <tr>
      <th>Adicciones: </th>
      <td>{{interrogatorio.adicciones}}</td>
      <th>Antecedentes alérgicos: </th>
      <td>{{interrogatorio.alergias}}</td>
      <th>¿Tiene el esquema completo? </th>
      <td>{{interrogatorio.esquema_completo}}</td>
    </tr>
    <tr>
      <th>Especifique cuál falta: </th>
      <td colspan="5">{{interrogatorio.esquema_falta}}</td>
    </tr>
    <tr>
      <th>¿Ha sido hospitalizado? </th>
      <td>{{interrogatorio.fecha_hospitalizacion}}</td>
      <th>Motivo de su hospitalización </th>
      <td colspan="3">{{interrogatorio.motivo}}</td>
    </tr>
    <tr>
      <th>Padecimiento Actual </th>
      <td colspan="5">{{interrogatorio.padedicmiento_actual}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Interrogatorio por aparatos y sistemas</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Cabeza </th>
      <td>{{interrogatorio.cabeza}}</td>
      <th>Cráneo </th>
      <td style="width: 15%;">{{interrogatorio.craneo}}</td>
      <th>Cara </th>
      <td>{{interrogatorio.cara_asimetria}}</td>
    </tr>
    <tr>
      <th>Piel </th>
      <td>{{interrogatorio.piel}}</td>
      <th>Cuello </th>
      <td>{{interrogatorio.cuello}}</td>
      <th>Perfil </th>
      <td>{{interrogatorio.perfil}}</td>
    </tr>
      <tr>
      <th>Músculos </th>
      <td colspan="2">{{interrogatorio.musculos}}</td>
      <th>Ruidos </th>
      <td colspan="2">{{interrogatorio.ruidos}}</td>
    </tr>
    <tr>
      <th>Otros </th>
      <td colspan="5">{{interrogatorio.otros}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Articulación temporomandibular</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Chasquidos </th>
      <td>{{interrogatorio.chasquidos}}</td>
      <th>Crepitación </th>
      <td>{{interrogatorio.crepitacion}}</td>
      <th>Fatiga o dolor muscular </th>
      <td>{{interrogatorio.fatiga_dolor_muscular}}</td>
    </tr>
    <tr>
      <th>Dolor a la abertura o movimientos de lateralidad </th>
      <td>{{interrogatorio.dolor_abertura}}</td>
      <th>Dificultad para abrir la boca </th>
      <td>{{interrogatorio.dif_para_abrir_la_boca}}</td>
      <th>Disminución de la abertura </th>
      <td>{{interrogatorio.disminucion_de_la_avertura}}</td>
    </tr>
    <tr>
      <th>Desviación a la abertura cierre </th>
      <td>{{desviacion_avertura_de_cierre}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Tejidos Blandos</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Ganglios </th>
      <td>{{interrogatorio.ganglios}}</td>
      <th>Glándulas Salivales </th>
      <td>{{interrogatorio.glandulas_salivales}}</td>
    </tr>
    <tr>
      <th>Labio externo </th>
      <td>{{interrogatorio.labio_Externo}}</td>
      <th>Borde bermellón </th>
      <td>{{interrogatorio.borde_bermellon}}</td>
    </tr>
    <tr>
      <th>Labio interno </th>
      <td>{{interrogatorio.labio_interno}}</td>
      <th>Comisuras </th>
      <td>{{interrogatorio.comisuras}}</td>
    </tr>
    <tr>
      <th>Carrillos </th>
      <td>{{interrogatorio.carrillos}}</td>
      <th>Fondo de saco </th>
      <td>{{interrogatorio.fondo_de_saco}}</td>
    </tr>
    <tr>
      <th>Frenillos </th>
      <td>{{interrogatorio.frenillos}}</td>
      <th>Lengua tercio medio </th>
      <td>{{interrogatorio.lengua_tercio_medio}}</td>
    </tr>
    <tr>
      <th>Paladar duro </th>
      <td>{{interrogatorio.paladar_duro}}</td>
      <th>Paladar blando </th>
      <td>{{interrogatorio.paladar_blando}}</td>
    </tr>
    <tr>
      <th>Istmo bucofaringe </th>
      <td>{{interrogatorio.istmo_bucofaringe}}</td>
      <th>Lengua dorso </th>
      <td>{{interrogatorio.lengua_dorso}}</td>
    </tr>
    <tr>
      <th>Lengua bordes </th>
      <td>{{interrogatorio.lengua_bordes}}</td>
      <th>Lengua ventral </th>
      <td>{{interrogatorio.lengua_ventral}}</td>
    </tr>
    <tr>
      <th>Piso de la boca </th>
      <td>{{interrogatorio.piso_de_la_boca}}</td>
      <th>Dientes </th>
      <td>{{interrogatorio.dientes}}</td>
    </tr>
    <tr>
      <th>Mucosa del borde alveolar </th>
      <td>{{interrogatorio.mucosa_del_borde_alveolar}}</td>
      <th>Encía </th>
      <td>{{interrogatorio.encia}}</td>
    </tr>
  </tbody>
</table>

<h3 class="page-header">Dental</h3>
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Gingivitis </th>
      <td>{{interrogatorio.gingivitis}}</td>
      <th>Periodontitis </th>
      <td>{{interrogatorio.periodontitis}}</td>
    </tr>
    <tr>
      <th>Recesión gingival </th>
      <td>{{interrogatorio.rececion_gingival}}</td>
      <th>Bolsas Periodontales </th>
      <td>{{interrogatorio.bolsas_peridontales}}</td>
    </tr>
    <tr>
      <th>Movilidad Dentario </th>
      <td>{{interrogatorio.movilidad_dentario}}</td>
      <th>Indice de Placa </th>
      <td>{{interrogatorio.indice_de_placa}}</td>
    </tr>
    <tr>
      <th>Interpretación radiográfica </th>
      <td colspan="5">{{interrogatorio.interpretacion_radiografica}}</td>
    </tr>
    <tr>
      <th>Estudios de laboratorio y gabinete </th>
      <td colspan="5">{{interrogatorio.estudios_de_laboratorio}}</td>
    </tr>
    <tr>
      <th>Interpretación de los estudios de laboratorio y gabinete </th>
      <td colspan="5">{{interrogatorio.interpretacion_estudios_laboratorio}}</td>
    </tr>
  </tbody>
</table>
{% endwith %}
{% else %}

  {% load crispy_forms_tags %}
  {% crispy form %}

{% endif %}

{% endblock content %}
{% block javascript %}
<script type="text/javascript">
$( document ).ready(function() {
  $('#id_credencialPaciente').keydown(function(event){
    if(event.keyCode == 13)
    {
      var dni = $('#id_credencialPaciente').val();
      console.log(dni);
      Dajaxice.clinica.get_person(Dajax.process, {'dni':dni});
      event.preventDefault();
    }
  });
});

// disables paciente select
// and fills in the value by id
$(function() {
  var paciente = $('#id_paciente');

  paciente.val('{{ paciente.id }}');
  paciente.attr('readonly', '');
})
</script>
{% endblock javascript %}
