{% extends "dash.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Odontograma{% endblock %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/jquery-ui-1.8.17.custom.css' %}">
<script src="{% static 'js/modernizr-2.0.6.min.js' %}"></script>
{% endblock %}

{% block content %}

<h2 class="page-header">Odontograma</h2>

<div class="form-inline">

  <label for="tratamiento" class="control-label lead">1) Seleccione tratamiento:</label>
  <select name="tratamiento" id="tratamientos" class="form-control form-inline" data-bind="value: tratamientoSeleccionado,">

    <option>Seleccione un tratamiento...</option>
    {% for tratamiento in tratamientos %}
    <option value="{{ tratamiento.id }}">{{ tratamiento.codigoTratamiento }} - {{ tratamiento.nombreTratamiento }}</option>
    {% endfor %}

  </select>

</div>

<form method="post" action="">

  {{ formset.management_form }}

  <p class="lead">2) Seleccione una pieza:</p>

  <div id="odontograma"></div>

  <div id="tooth-images">
    <!--top -->
    <!-- left-side -->
    <img src="{% static 'img/piezas/18.jpg' %}" alt="18" width="28">
    <img src="{% static 'img/piezas/17.jpg' %}" alt="17" width="28">
    <img src="{% static 'img/piezas/16.jpg' %}" alt="16" width="28">
    <img src="{% static 'img/piezas/15.jpg' %}" alt="15" width="22">
    <img src="{% static 'img/piezas/14.jpg' %}" alt="14" width="22">
    <img src="{% static 'img/piezas/13.jpg' %}" alt="13" width="22">
    <img src="{% static 'img/piezas/12.jpg' %}" alt="12" width="24">
    <img src="{% static 'img/piezas/11.jpg' %}" alt="11" width="28">
    <!-- right-side -->
    <img src="{% static 'img/piezas/21.jpg' %}" alt="21" width="28">
    <img src="{% static 'img/piezas/22.jpg' %}" alt="22" width="24">
    <img src="{% static 'img/piezas/23.jpg' %}" alt="23" width="22">
    <img src="{% static 'img/piezas/24.jpg' %}" alt="24" width="22">
    <img src="{% static 'img/piezas/25.jpg' %}" alt="25" width="22">
    <img src="{% static 'img/piezas/26.jpg' %}" alt="26" width="28">
    <img src="{% static 'img/piezas/27.jpg' %}" alt="27" width="28">
    <img src="{% static 'img/piezas/28.jpg' %}" alt="28" width="28">
    <br>
    <!-- bottom -->
    <div class="bottom">
      <!-- left-side -->
      <img src="{% static 'img/piezas/48.jpg' %}" alt="48" width="28">
      <img src="{% static 'img/piezas/47.jpg' %}" alt="47" width="28">
      <img src="{% static 'img/piezas/46.jpg' %}" alt="46" width="28">
      <img src="{% static 'img/piezas/45.jpg' %}" alt="45" width="20">
      <img src="{% static 'img/piezas/44.jpg' %}" alt="44" width="20">
      <img src="{% static 'img/piezas/43.jpg' %}" alt="43" width="20">
      <img src="{% static 'img/piezas/42.jpg' %}" alt="42" width="20">
      <img src="{% static 'img/piezas/41.jpg' %}" alt="41" width="20">
      <!-- right-side -->
      <img src="{% static 'img/piezas/31.jpg' %}" alt="31" width="20">
      <img src="{% static 'img/piezas/32.jpg' %}" alt="32" width="20">
      <img src="{% static 'img/piezas/33.jpg' %}" alt="33" width="20">
      <img src="{% static 'img/piezas/34.jpg' %}" alt="34" width="20">
      <img src="{% static 'img/piezas/35.jpg' %}" alt="35" width="20">
      <img src="{% static 'img/piezas/36.jpg' %}" alt="36" width="28">
      <img src="{% static 'img/piezas/37.jpg' %}" alt="37" width="28">
      <img src="{% static 'img/piezas/38.jpg' %}" alt="38" width="28">

    </div>

  </div>

  <p class="lead">3) Verifique detalles:</p>

  <div class="clearfix" id="formsets">

    <ul>

    {% for procedimientoForm in formset %}

      {% if forloop.last %}
      <li data-bind="foreach: tratamientosAplicados">
        <div class="form-inline" data-bind='attr: { id: form_div_id }'>
      {% else %}
      <li>
        <div class="form-inline" id="form_div_{{forloop.counter0}}">
      {% endif %}

        {% crispy procedimientoForm %}

        </div>
        <a href="#" data-bind="click: $parent.quitarTratamiento" class="pull-left text-warning bin"><i class="fa fa-trash fa-lg"></i></a>
      </li>
    {% endfor %}

    </ul><!-- end foreach -->

  </div>

  <h3 class="page-header">Detalle informaci&oacute;n adicional</h3>

  {% crispy form %}

</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/plugins.js'%}"></script>
<script src="{% static 'js/jquery-ui-1.8.17.custom.min.js'%}"></script>
<script src="{% static 'js/jquery.tmpl.js'%}"></script>
<script src="{% static 'js/knockout-3.3.0.js'%}"></script>
<script src="{% static 'js/jquery.svg.min.js'%}"></script>
<script src="{% static 'js/jquery.svggraph.min.js'%}"></script>
<script src="{% static 'js/odontograma.js'%}"></script>
<script>
  // some widgets and such
  $(function() {
    var submitButton = $('.normalized-btn'),
        pacienteId = '{{ paciente.id }}',
        pacienteSelect = $('#id_paciente');

    // aligns the submit button
    submitButton.addClass(' pull-right');

    // gives a value to the paciente field
    pacienteSelect.val(pacienteId);

    // hides paciente field TODO: uncomment this.
    // $('#div_id_paciente').addClass(' hidden');

  });
</script>
{% endblock %}
