{% extends "dash.html" %}

{%load static from staticfiles %}

{%block title%}Detalles de Paciente{%endblock%}

{% block content %}
<div class="col-md-8">

  <div class="well odontograma clearfix row">

    <div class="col-xs-2">

      <img src="{% static paciente.imagen %}" alt="{{ paciente.nombre }} {{ paciente.apellidoPaterno }}">

    </div>

    <div class="col-xs-10">

      <table class="table">

        <thead>

          <tr>

            <th>Grupo</th>
            <th>Teléfono</th>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td>{{ paciente.grupo }}</td>
            <td>{{ paciente.telefono }}</td>

          </tr>

        </tbody>

      </table>

    </div>

  </div><!-- patient info section -->

  <h3 class="page-header">Procedimientos</h3>
  <table class="table table-bordered table-hover">

    <thead>

      <tr>

        <th>Pieza</th>
        <th>Cara</th>
        <th>Procedimiento</th>
        <th>Status</th>
        <th colspan="2">&nbsp;</th>

      </tr>

    </thead>

    <tbody>
      {% for procedimiento in procedimientos %}
      {% with servicio=procedimiento.servicio_set.get %}
      <tr>
        <td>{{ procedimiento.pieza }}</td>
        <td>{{ procedimiento.get_cara_display }}</td>
        <td>{{ procedimiento.tratamiento }}</td>
        <td><span class="label">{{ procedimiento.get_status_display }}</span></td>
        <td><a href="{% url clinica:historial_detail procedimiento.id %}" class="btn btn-default">Ver</a></td>
        <td><a href="#" class="btn btn-default">solicitar materiales</a></td>    

      {% endwith %}
      {% endfor %}
      <!-- TODO: quitar esto y correjir lo de arriba. es por mientras -->
    </tbody>

  </table>

</div>

<div class="col-md-4">
  <h3 class="page-header">&Uacute;ltimos Odontogramas</h3>
  {% if odontogramas %}
    {% for odontograma in odontogramas %}
    <h4><a href="{% url clinica:odontograma_detail odontograma.id %}">{{ odontograma.created_at }}</a></h4>
    <p><strong>{{ odontograma.diagnostico.nombre }}</strong>{{ odontograma.notas }}</p>
    {% endfor %}
  {% else %}
  <p class="lead text-muted">No hay odontogramas.</p>
  <a href="{% url clinica:odontograma paciente.id %}" class="btn btn-primary btn-block">Nuevo Odontograma <span class="glyphicon glyphicon-plus"></i></a>
  {% endif %}
  </ul>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'Recomendado') {

      status.addClass(' label-warning');

    } else if(status.text() == 'Autorizado') {

      status.addClass(' label-primary');

    } else if(status.text() == 'En Proceso') {

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>
{% endblock javascript %}
