{% extends "search.html" %}

{%load static from staticfiles %}

{% block title %}B&uacute;squeda de Paciente{% endblock %}

{% block content %}

  {% if search_string %}
  <p class="text-center">Usted ingres&oacute; "{{ search_string }}":</p>
    {% if objects %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre(s)</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for paciente in objects %}
        <tr>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.apellidoPaterno }}</td>
          <td>{{ paciente.apellidoMaterno }}</td>
          <!-- <td class="text-center"><a href="/odontograma/{{ paciente.id }}" class="btn btn-warning">Odontograma</a></td>
          <td class="text-center"><a href="/interrogatorio/{{ paciente.id }}" class="btn btn-info">Interrogatorio</a></td>
          <td class="text-center"><a href="/interrogatorios/{{ paciente.id }}/pdf/" class="btn btn-danger">PDF</a></td> -->
          <td class="text-right"><a href="{% url clinica:paciente_detail paciente.id %}" class="btn btn-success">Ver Detalles</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="lead text-center text-muted">No se han encontrado pacientes con ese nombre.</p>
    {% endif %}
    <p class="text-center">
      <a href="{% url clinica:paciente_search %}" class="btn btn-primary">Nueva Búsqueda <i class="fa fa-arrow-right"></i></a>
    </p>

  {% else %}

    <div class="text-center search clearfix">
      <form action="" method="GET">

        <label for="q" class="lead">Ingrese el nombre del paciente:</label>
        <input type="text" name="q" class="form-control" placeholder="Nombre del paciente..." value="{{ query|escape }}">
        <button type="submit" class="btn btn-primary"><i class='fa fa-search'></i> Buscar</button>

      </form>
    </div>
  {% endif %}

{% endblock content %}
