{% extends "dash.html" %}

{%load static from staticfiles %}

{%block title%}Plan de Tratamiento{%endblock%}

{% block content %}
<div class="row">
  <div class="col-md-8">

    <h3 class="page-header">Tratamientos Autorizados</h3>

    {% if procedimientos %}
    <table class="table table-bordered table-hover">

      <thead>

        <tr>

          <th>Pieza</th>
          <th>Cara</th>
          <th>Procedimiento </th>
          <th>Status</th>
          <th>&nbsp;</th>

        </tr>

      </thead>

      <tbody>

        {% for procedimiento in procedimientos %}
        <tr>
          <td class="padded">{{ procedimiento.pieza }}</td>
          <td>{{ procedimiento.get_cara_display }}</td>
          <td>{{ procedimiento.tratamiento }}</td>
          <td class="padded"><span class="label">{{ procedimiento.get_status_display }}</span></td>
          <td><a href="{% url 'clinica:bitacora_create' procedimiento.id %}" class="btn btn-default">Actualizar</a></td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
    {% else %}
    <p class="lead text-muted text-center">No hay tratamientos en espera.</p>
    {% endif %}
  </div>

  <div class="col-md-4">
    <h3 class="page-header">Entradas a Bit&aacute;cora</h3>
    {% if bitacoras %}
      {% for bitacora in bitacoras %}
      <h4><a href="">{{ bitacora.titulo }}</a> <small>- {{ bitacora.created_at }}</small></h4>
      <p>{{ bitacora.descripcion }}</p>
      <p></p>
      {% endfor %}
    {% else %}
    <p class="lead text-muted">No hay entradas.</p>
    {% endif %}
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'Autorizado'){

      status.addClass(' label-primary');

    } else if(status.text() == 'En Proceso'){

      status.addClass(' label-info');

    } else {

      status.addClass(' label-warning');

    }

  })
})
</script>
{% endblock javascript %}
