{% extends "dash.html" %}

{%load static from staticfiles %}

{%block title%}Plan de Tratamiento{%endblock%}

{% block content %}
<div class="row">
  <div class="col-md-10">

    <h3 class="page-header">{{ procedimiento.tratamiento }} <small>{{ procedimiento.pieza }} {{ procedimiento.get_cara_display }} <span class="label">{{ procedimiento.get_status_display }}</span></small></h3>

    <p class="lead">{{ procedimiento.observaciones }}</p>

  </div>

  <div class="col-md-2">
    <h3 class="page-header">Entradas a Bit&aacute;cora</h3>
    <p class="lead text-muted">No hay entradas.</p>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'Autorizado'){

      status.addClass(' label-primary');

    } else if(status.text() == 'En Proceso'){

      status.addClass(' label-info');

    } else {

      status.addClass(' label-warning');

    }

  })
})
</script>
{% endblock javascript %}
