{% extends 'dash.html' %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jasny-bootstrap.min.css' %}">
<style>
  .fileinput { margin-bottom: 0px; }
  #div_id_imagen { margin-bottom: 16px; }
  .fileinput-filename {
    max-width: 240px;
    height: 19px;
  }

</style>
{% endblock css %}

{% block content %}
<h2 class="page-header">{% block title %}{{ title }} Radiografia{% endblock %}</h2>

{% if form %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {% crispy form %}
  </div>
</div>
{% else %}
<div class="row">

  <div class="col-md-6">

    <img src="{% static radiografia.image %}" class="img-responsive" alt="{{ radiografia.title }}">

  </div>

  <div class="col-md-6">

    <h3>{{ radiografia.title }}</h3>
    <p>{{ radiografia.description }}</p>

    {% if perms.clinica.change_radiografia %}
    <a href="{% url 'clinica:radiografia_update' radiografia.id %}" class="pull-left"><i class="fa fa-pencil fa-fw"></i> Editar</a>
    {% endif %}

  </div>

</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>
<script>
  /*!
  * calls jasny bootstrap on the file input
  * to pretty it up. Must contain specific
  * markup so I added it using jQuery.
  * Andrea. @andiosuna
  */

  var target = $('#div_id_image > .controls'),
      container = target.addClass('fileinput fileinput-new input-group'),
      fileInput = $('input[type="file"]');

  container.prepend('<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>');
  fileInput.wrap('<span class="input-group-addon btn btn-default btn-file"></span>');
  fileInput.before('<span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>');
  container.append('<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>');

  $('.fileinput').fileinput();
</script>
{% endblock javascript %}
