Django==1.8.2
django-admin-bootstrapped==2.5.4
django-crispy-forms==1.4.0
django-simple-history==1.6.1
django-wkhtmltopdf==2.0.2
easy-thumbnails==2.2
MySQL-python==1.2.5
Pillow==2.9.0
Unipath==1.1
wheel==0.24.0
