{% extends "dash.html" %}
{%load static from staticfiles %}

{% load crispy_forms_tags %}


{% block content %}

  <h1>Atencion de Paquete</h1>
 

  <div class="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>Paciente:</th>
          <th>Servicio:</th>
          <th>Medico:</th>
          <th>Fecha:</th>
    
          
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ pconsumido.paciente}}</td>
          <td>{{ pconsumido.servicio}}</td>
          <td>{{ pconsumido.medico}}</td>
          <td>{{pconsumido.fecha|date:"d-M-Y"}}</td>
          
         <form action="" method="post">{% csrf_token %}
        </tr>
      </tbody>
    </table>
  </div>
        <button type=submit>surtir</button>


        {% crispy form %}




{% endblock content %}
