{% extends "dash.html" %}
{%load static from staticfiles %}

{% block content %}
<h2 class="page-header">Registro de Paquetes</h2>

{% if consumidos %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Paquete</th>
      <th>Entrgado</th>
      <th>Recibio</th>
      <th>Servicio</th>
      <th>Status</th>

      
    </tr>
  </thead>
  <tbody>
    {% for consumido in consumidos %}
    <tr>
      <td>{{ consumido.paquete}}</td>
      <td>{{ consumido.fecha }}</td>
      <td>{{ consumido.medico }}</td>
      <td>{{ consumido.servicio }}</td>
      <td><span class="label">{{ consumido.get_status_display }}</span></td>
      <td><a href="{% url consumidos:paquete_recibo consumido.id %}" class="glyphicon glyphicon-print">imprimirAcuse</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url consumidos:armar %}" class="btn btn-primary pull-right">Reatender <span class="glyphicon glyphicon-plus"></span></a>
{% else %}
<p class="lead text-center text-muted">No hay paquetes registrados en la base de datos.<br><br><a href="{% url consumidos:armar %}" class="btn btn-primary">Registrar Paquete <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endif %}
{% endblock content %}
{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'En Espera') {

      status.addClass(' label-warning');

    } else if(status.text() == 'Surtido') {

      status.addClass(' label-primary');

    } else if(status.text() == 'Por Entegar') {

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>

{% endblock javascript %}
