{% extends 'dash.html' %}
{% block title %}Paquetes Desactivados{% endblock %}

{% block content %}
<h2 class="page-header">Desactivaciones de Paquetes</h2>

{% if paquetesi %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Paquete</th>
      <th>Descripcion</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for paquete in paquetesi %}
    <tr>

      <tr>


        <td>{{ paquete.nombre }}</td>
        <td>{{ paquete.descripcion }}</td>
        <td><a href="{% url consumidos:paquete_cancelled_detail paquete.id %}" class="btn btn-default">Ver Paquete</a></td>

    </tr>
    {% endfor %}

  </tbody>

</table>

  {% if is_paginated %}
  <nav>

    <ul class="pager">

      <li class="previous">

        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
        {% endif %}

      </li>

      <li class="text-muted">{{ page_obj }}</li>

      <li class="next">

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
        {% endif %}

      </li>

    </ul>

  </nav>
  {% endif %}
{% else %}
<p class="text-center text-muted lead">No hay paquetes desactivados.</p>
{% endif %}
{% endblock content %}
