{% extends "dash.html" %}
{%load static from staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="page-header">{% block title %}Paquete: {{ paquete.nombre }}{% endblock %}</h2>

<div class="col-md-8">

  <table class="table">

    <thead>

      <tr>

        <th>Producto</th>
        <th>Cantidad</th>

      </tr>

    </thead>

    <tbody>

      {% for item in paquete.paqueteitem_set.all %}
      <tr>

        <td>{{ item.producto }}</td>
        <td>{{ item.cantidad_producto }}</td>

      </tr>
      

      {% endfor %}

    </tbody>

  </table>

</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Nombre:</th>
        <td>{{ paquete.nombre }}</td>
      </tr>
      <tr>
        <th>Descripcion:</th>
        <td>{{ paquete.descripcion }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="clearfix">
    <button class="btn btn-danger pull-right" type="button" data-toggle="collapse" data-target="#desactivar">Desactivar</button>
</div>

<div class="collapse alert alert-danger clearfix col-md-8 col-md-offset-2" id="desactivar">

  <p><strong>Seguro que desea desactivar este paquete?</strong></p>

  {%  crispy form %}

</div>

{% endblock content %}
