{% extends 'dash.html' %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<style>
  .normalized-btn {
    margin-top: 25px;
  }
</style>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">

  <h3 class="page-header">Productos de {% block title %}Paquete{% endblock %}</h2>

  <form action="" method="post" class="clearfix">
    <p class="lead text-muted">Agregar o editar productos del paquete:</p>
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
    <div class="formset row">
      {% crispy form %}
    </div>
    {% endfor %}

    <div id="empty-form" class="formset row" style="display:none;">
      {% crispy formset.empty_form %}
    </div>

    <input type="submit" class="btn btn-primary pull-right" value="Aceptar">

  </form>

  {% if paquete.nota %}
  <div class="panel panel-info">
    <div class="panel-heading">Observaciones</div>
    <div class="panel-body">
      <p>{{ paquete.nota }}</p>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
$('.formset').formset({
  addText: 'Agregar Producto <i class="fa fa-plus fa-fw"></i>',
  deleteText: 'Quitar <i class="fa fa-trash fa-fw"></i>',
  addCssClass: 'add-row btn btn-success',
  deleteCssClass: 'delete-row btn btn-default normalized-btn',
  formCssClass: 'dynamic-form',
  formTemplate: '#empty-form',
});
</script>
{% endblock %}
