{% extends 'dash.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-duallistbox.css' %}">
{% endblock css %}

{% block content %}
<h2 class="page-header">{% block title %}Crear Paquete{% endblock %}</h2>

{% crispy form %}
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/knockout-3.3.0.js'%}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
<script src="{% static 'js/jquery.bootstrap-duallistbox.js' %}"></script>
<script>
$('#id_choice_productos').bootstrapDualListbox({
	nonSelectedListLabel: 'A Seleccionar',
	selectedListLabel: 'Seleccionados',
	preserveSelectionOnMove: 'moved',
	moveOnSelect: false,
});
</script>
{% endblock javascript %}
