{% extends "dash.html" %}
{%load static from staticfiles %}

{% block content %}
<h2 class="page-header">Productos Entregados </h2>

{% if consumidos %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Medico</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for consumido in consumidos %}
    <tr>
      <td>{{ consumido.id }}</td>
      <td>{{ consumido.producto }}</td>
      <td>{{ consumido.cantidad }}</td>
      <td>{{ consumido.medico }}</td>
      <td>{{ consumido.paciente }}</td>
      <td>{{ consumido.fecha }}</td>
      
      <td><a href="{% url consumidos:cons_detail consumido.id %}" class="glyphicon glyphicon-eye-open">Detalles</a></td>
      <td><a href="/paquetes/{{peticion.id}}/" class="glyphicon glyphicon-ban-circle">Cancelar</a></td>
      <td><a href="{% url consumidos:pdf consumido.id%}" class="glyphicon glyphicon-print">imprimir Acuse</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="lead text-center text-muted">no existen peticiones pendientes<br><br>
{% endif %}
{% endblock content %}
{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'En Espera') {

      status.addClass(' label-warning');

    } else if(status.text() == 'Surtido') {

      status.addClass(' label-primary');

    } else if(status.text() == 'Por Entegar') {

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>
{% endblock javascript %}
