{% extends "dash.html" %}
{%load static from staticfiles %}

{% block content %}
<h2 class="page-header">Peticiones </h2>

{% if peticiones %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Servicio</th>
      <th>Medico</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for peticion in peticiones %}
    <tr>
      <td>{{ peticion.id }}</td>
      <td>{{ peticion.servicio }}</td>
      <td>{{ peticion.medico }}</td>
      <td>{{ peticion.paciente }}</td>
      <td>{{ peticion.fecha }}</td>
      <td>{{ peticion.status }}</td>
      <td><a href="/paquetes/{{peticion.id}}/" class="btn btn-default">Atender</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="lead text-center text-muted">no existen peticiones pendientes<br><br>
{% endif %}
{% endblock content %}