{% extends "dash.html" %}
{%load static from staticfiles %}

{% block content %}
<h2 class="page-header">Peticiones </h2>

{% if peticiones %}
<table class="table table-hover">
  <thead>
    <tr>

      <th>Servicio</th>
      <th>Medico</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Status</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for peticion in peticiones %}

    <tr>
      <td>{{ peticion.servicio }}</td>
      <td>{{ peticion.medico }}</td>
      <td>{{ peticion.paciente }}</td>
      <td>{{ peticion.fecha }}</td>
      <td><span class="label">{{ peticion.get_status_display }}</span></td>
      <td><a href="{% url consumidos:paquete_update peticion.id %}" class="btn btn-default">Atender</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="lead text-center text-muted">no existen peticiones pendientes<br><br>
{% endif %}
{% endblock content %}
{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'En Espera') {

      status.addClass(' label-warning');

    } else if(status.text() == 'Surtido') {

      status.addClass(' label-primary');

    } else if(status.text() == 'Por Entegar') {

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>

{% endblock javascript %}
