{% extends 'dash.html' %}
{% load static from staticfiles %}

{% block content %}
<h2 class="page-header">{% block title %}Peticiones De Materiales Entregados{% endblock %}</h2>

{% if paqueteconsumidos %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Servicio</th>
      <th>Medico</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Status</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for paquete in paqueteconsumidos %}
    <tr>

      <td class="padded">{{ paquete.servicio }}</td>
      <td class="padded">{{ paquete.medico }}</td>
      <td class="padded">{{ paquete.paciente }}</td>
      <td class="padded">{{ paquete.updated_at }}</td>
      <td class="padded"><span class="label">{{ paquete.get_status_display }}</span></td>
      <td><a href="{% url consumidos:peticion_detail paquete.id %}" class="btn btn-default">Detalle</a></td>

    </tr>
    {% endfor %}

  </tbody>

</table>
{% elif paqueteenespera or paqueteporentregar %}

  {% if paqueteenespera %}
  <h3>Peticiones Nuevas</h3>
  <table class="table table-hover">

    <thead>

      <tr>

        <th>Servicio</th>
        <th>Medico</th>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Status</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>

      {% for paquete in paqueteenespera %}
      <tr>

        <td class="padded">{{ paquete.servicio }}</td>
        <td class="padded">{{ paquete.medico }}</td>
        <td class="padded">{{ paquete.paciente }}</td>
        <td class="padded">{{ paquete.updated_at }}</td>
        <td class="padded"><span class="label">{{ paquete.get_status_display }}</span></td>
        <td><a href="{% url consumidos:peticion_update paquete.id %}" class="btn btn-default">Entregar</a></td>

      </tr>
      {% endfor %}

    </tbody>

  </table>
  {% endif %}

  {% if paqueteporentregar %}
  <h3>Peticiones por Entregar</h3>
  <table class="table table-hover">

    <thead>

      <tr>

        <th>Servicio</th>
        <th>Medico</th>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Status</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>

      {% for paquete in paqueteporentregar %}
      <tr>

        <td class="padded">{{ paquete.servicio }}</td>
        <td class="padded">{{ paquete.medico }}</td>
        <td class="padded">{{ paquete.paciente }}</td>
        <td class="padded">{{ paquete.updated_at }}</td>
        <td class="padded"><span class="label">{{ paquete.get_status_display }}</span></td>
        <td><a href="{% if paquete.paqueteconsumidoitem_set.all %}{% url consumidos:peticion_detail paquete.id %}" class="btn-default{% else %}{% url consumidos:paquete_item_create paquete.id %}" class="btn-warning{% endif %} btn">Actualizar</a></td>


      </tr>
      {% endfor %}

    </tbody>

  </table>
  {% endif %}

{% elif peticiones_canceladas %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Servicio</th>
      <th>Medico</th>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Status</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for peticion in peticiones_canceladas %}
    <tr>

      <td class="padded">{{ peticion.salida.servicio }}</td>
      <td class="padded">{{ peticion.salida.medico }}</td>
      <td class="padded">{{ peticion.salida.paciente }}</td>
      <td class="padded">{{ peticion.salida.updated_at }}</td>
      <td class="padded"><span class="label">{{ peticion.salida.get_status_display }}</span></td>
      <td><a href="{% url consumidos:peticion_detail peticion.salida.id %}" class="btn btn-default">Detalle</a></td>

    </tr>
    {% endfor %}

  </tbody>

</table>
{% else %}
<p class="lead text-center text-muted">No hay peticiones.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
$(function() {

  $.each($('.label'), function(){
    var status = $(this);

    if(status.text() == 'En Espera') {

      status.addClass(' label-warning');

    } else if(status.text() == 'Surtido') {

      status.addClass(' label-primary');

    } else if(status.text() == 'Por Entregar') {

      status.addClass(' label-info');

    } else {

      status.addClass(' label-default');

    }

  })
})
</script>
{% endblock javascript %}
