{% extends 'dash.html' %}

{%load static from staticfiles %}

{% load crispy_forms_tags %}


{% block content %}
<h2 class="page-header">{% block title %}Atencion de Paquete{% endblock %}</h2>

<div class="col-md-8">
<h4>Detalle de Servicio</h4>
<div class="panel panel-default">

  <table class="table">

    <thead>

      <tr>

        <th>Paciente:</th>
        <th>Medico:</th>
        <th>Servicio:</th>
        <th>Fecha:</th>
        <th>observaciones:</th>

      </tr>

    </thead>

    <tbody>

      <tr>

        <td>{{ paqueteconsumido.paciente}}</td>
        <td>{{ paqueteconsumido.medico}}</td>
        <td>{{ paqueteconsumido.servicio}}</td>
        <td>{{ paqueteconsumido.fecha }}</td>
        <td>{{ paqueteconsumido.nota}}</td>

      </tr>

    </tbody>

  </table>

</div><!-- end col-md-8 -->
</div>

<div class="col-md-4">
<h4>Elegir Paquete</h4>
{% crispy form %}
</div>
{% endblock content %}



