{% extends "dash.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Salida de Producto{% endblock %}

{% block content %}


<div class="row">

  <div class="col-md-6">

    <div class="panel panel-danger">

      <div class="panel-heading">

        <h4 class="panel-title">{{ salida }}</h4>

      </div>

      <div class="panel-body">

        <table class="table">

          <thead>

            <tr>

              <th>Fecha</th>
              <th>Porciones</th>

            </tr>

          </thead>

          <tbody>

            <tr>

              <td>{{ salida.fecha}}</td>
              <td>{{ salida.cantidad }}</td>

            </tr>

          </tbody>

        </table>

      </div><!-- end .panel-body -->

    </div><!-- end .panel -->

  </div><!-- end .col-md-6 -->

  <div class="col-md-6">

    <h4>Fecha de cancelaci&oacute;n:</h4>

    <p>{{ cancelentrada.created_at }}</p>

    <h4>Motivo:</h4>

    <p>{{ cancelentrada }}</p>

  </div><!-- end .col-md-6 -->

</div><!-- end .row -->
{% endblock content %}
