{% extends "dash.html" %}
{%load static from staticfiles %}

{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
<link rel="stylesheet" type="text/css" href="../src/bootstrap-duallistbox.css">
{% endblock css %}

{% block content %}

  

      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
           
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ item.procedimiento.tratamiento }}</td>
              <td class="precio">{{ item.precio }}</td>
              <td><span class="label">{{ item.get_status_display }}</span></td>
              
            </tr>
        
            
          </tbody>
        </table>
        {% crispy form %}




{% endblock content %}
