{% extends "base1.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<style>

    .importe .form-group {
        margin-bottom: 0px;
        max-width: 100px;
    }
    .precio:before {
        content: "$";
    }
    #div_id_total,
    #div_id_fecha,
    #div_id_monto {
        max-width: 160px;
        float: left;
        margin-right: 100px;
    }
    .btn-primary {
        margin-top: 24px;
    }
</style>
{% endblock %}

{% block content %}

  <h2 class="page-header">Pago <small class="pull-right">Cotizacion #{{ cotizacion.id }}</small></h2>


<form action="" method="post">
    {{ pa_formset.management_form }}

    <div id="div_id_total" class="form-group">
        <label for="id_total">Costo Total</label>
        <div class="controls">
            <p id="id_total">{{ total }}</p>
        </div>
        <span>


            <a class="mybtn">Aplicar</a>
        </span>
    </div>
    {% crispy form %}
    
    
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Servicio</th>
      <th>Costo de servicio</th>
      <th>Importe</th>
      <th>Status</th>

      </tr>
    </thead>
    <tbody>
        {% for pa_form in pa_formset %}
        <tr>
            <td>{{ pa_form.item.procedimiento.tratamiento.nombreTratamiento }}</td>
            <td class="precio">{{ pa_form.item.precio }}</td>
            <td class="importe">{% crispy pa_form %}</td>
            <td> <span class="status">{{pa_form..status}}</span></td>

        </tr>
       
        {% endfor %}
         <tr>

            <td></td>
            <td></td>
            <td></td>
            <td> <input type="submit" class="btn btn-primary" value="Aplicar y guardar"></td>

        </tr>
    </tbody>
  </table>

</form>
 
    
{% endblock content %}

{% block javascript %}
<script>

$(document).ready(function(){

var rows = $('tbody').children(),
    status=$('.label'),
    montoField = $('#id_monto');

function asignarImportes(){
    var monto = parseInt(montoField.val());
    console.log(montoField.val()); // for testing

    rows.each(function () {
        var importe = $('.importe input[type="text"]', this),
            costo = parseInt($('.precio', this).text()),

            valor_a_asignar = Math.min(costo,monto);
        monto = monto - valor_a_asignar;
        importe.val(valor_a_asignar);

    if (valor_a_asignar == costo && importe<costo)
    {
        document.write("algunos items deberan cubrirse posteriormente")
    }
            
    });
    }


asignarImportes();

$('.mybtn').on('click',asignarImportes);

});







</script>
{% endblock javascript%}
