<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Introduction" %} active{% endif %}" href="{{ site.url }}">1. Introduction</a>
    <a class="sidebar-nav-item{% if page.title == "Install" %} active{% endif %}" href="{{ site.url }}/install">2. Install</a>
    <a class="sidebar-nav-item{% if page.title == "Requirements" %} active{% endif %}" href="{{ site.url }}/requirements">3. Requirements</a>
    <a class="sidebar-nav-item{% if page.title == "API Reference" %} active{% endif %}" href="{{ site.url }}/api-reference">4. API Reference</a>
    {% if page.title == "API Reference" %}
      <a class="sidebar-nav-item{% if page.title == "Title" %} active{% endif %}" href="{{ site.url }}/api-reference/title">Sub link</a>
    {% endif %}
    <a class="sidebar-nav-item{% if page.title == "Template Guidelines" %} active{% endif %}" href="{{ site.url }}/templates">5. Template Guidelines</a>
    <a class="sidebar-nav-item{% if page.title == "Contributing" %} active{% endif %}" href="{{ site.url }}/contributing">6. Contributing Guidelines</a>

    <a class="sidebar-nav-item" href="{{ site.bitbucket.repo }}{{ site.bitbucket.download }}">Download</a>
    <a class="sidebar-nav-item" href="{{ site.bitbucket.repo }}">Bitbucket project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
