<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ title|default:"Untitled" }}{% endblock %} - Sistema Administrativo Dental</title>

  {% load static from staticfiles %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/local.css'%}">

  {% block css %}
  {% endblock css %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body {% block bodyclass %}{% endblock %}>

  {% if user.is_authenticated %}
  {% include "nav.html" %}
  {% endif %}

  <div class="container-fluid">

    <div class="row">

      {% block body %}
      {% endblock %}

    </div>

  </div>
  <div class="container-fluid footer">
    <footer class="row">

    {% block footer %}
    {% endblock %}

    </footer>
  </div>

  <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
