{% extends "base.html" %}

{% block bodyclass %}class="dash"{% endblock %}

{% block navitems %}
<li><a href="{% url clinica:paciente_search %}"><i class="fa fa-plus fa-fw"></i> B&uacute;squeda de Paciente</a></li>
{% endblock %}

{% block body %}
  {% include "sidebar.html" %}

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    {% block content %}
    {% endblock %}

  </div>
{% endblock %}

{% block footer %}
  <div class=" col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    {% include "footer.html" %}
  </div>
{% endblock %}
