<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">

      <div class="navbar-header">

        <a class="navbar-brand" href="{% url 'accounts:home' %}">Sistema Administrativo Dental MediExcel</a>

      </div><!-- end .navbar-header -->

      <ul class="nav navbar-nav navbar-right">

        <li><a href="{% url 'accounts:home' %}"><i class="fa fa-home fa-fw"></i> Home</a></li>

        <li>

          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> {{ user.get_full_name }} <span class="caret"></span></a>

          <ul class="dropdown-menu">

            <div class="navbar-content">

              <p>{{ user.get_full_name }} <span class="text-muted">({{ user.username }})</span></p>
              <p class="text-muted small">{{ user.email }}</p>

            </div>

            <div class="navbar-footer">

              <div class="navbar-footer-content clearfix padded">

                <a href="{% url 'accounts:change' %}" class="btn btn-default btn-sm pull-left"><i class="fa fa-wrench fa-fw"></i> Change Passowrd</a>
                <a href="{% url 'accounts:logout' %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-sign-out fa-fw"></i> Log Out</a>

              </div>

            </div>

          </ul>

        </li>

        {% block navitems %}
        {% endblock %}

      </ul>

  </div>

</nav><!-- end .navbar -->
