{% extends "base.html" %}
{%load static from staticfiles %}

{% block bodyclass %}class="start-search"{% endblock %}

{% block nav %}
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">

          <a class="navbar-brand" href="{% url clinica:paciente_search %}">Sistema Administrativo Dental MediExcel</a>

        </div><!-- end .navbar-header -->

        <ul class="nav navbar-nav navbar-right">

          <li>

            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-md fa-fw"></i> {{ user.get_full_name }} <span class="caret"></span></a>

            <ul class="dropdown-menu">

              <li><a href="#"><i class="fa fa-wrench fa-fw"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url accounts:logout %}"><i class="fa fa-sign-out fa-fw"></i> Log Out</a></li>

            </ul>

          </li>

        </ul>

    </div>

  </nav><!-- end .navbar -->
{% endblock nav %}

{% block login %}
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">B&uacute;squeda</h3>
    </div>
    <div class="panel-body">
      {% block content %}
      {% endblock content%}
    </div>
  </div>
</div>
{% endblock login %}
