{% load static from staticfiles %}
<div class="col-sm-3 col-md-2 sidebar">

  {% if paciente %}
  <div class="client-info clearfix">
    <img src="{% static paciente.imagen %}" alt="Cliente" width="50" height="50" class="pull-left">
    <p>{{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</p>
  </div><!-- TODO: remove and turn into a block -->
  {% endif %}

  <ul class="nav nav-sidebar">

    {% if perms.clinica.add_odontograma %}
    {% if paciente %}
    <li class="{{ pd_active }}"><a href="{% url clinica:paciente_detail paciente.id %}"><i class="fa fa-user fa-fw"></i> Datos Personales</a></li>
    <li class="{{ e_active }}"><a href="{% url clinica:interrogatorio paciente.id %}"><i class="fa fa-folder fa-fw"></i> Expediente Medico/Dental</a></li>
    <li class="sidebar-header text-center">Actividades Clinicas</li>
    <li class="{{ p_active }}"><a href="{% url clinica:procedimientos paciente.id %}"><i class="fa fa-th-list fa-fw"></i> Plan de Tratamiento</a></li>
    <li class="{{ o_active }}"><a href="{% url clinica:odontograma paciente.id %}"><i class="fa fa-puzzle-piece fa-fw"></i> Odontograma</a></li>
    <li class="{{ h_active }}"><a href="{% url clinica:historial paciente.id %}"><i class="fa fa-clipboard fa-fw"></i> Historial de Procedimientos</a></li>
    {% endif %}
    {% endif %}

    {% if perms.cotizacion.add_cotizacion %}
    <li class="sidebar-header text-center">Administraci&oacute;n</li>
    <li class="{{ c_active }}"><a href="{% url cotizacion:cotizacion_list %}"><i class="fa fa-calculator fa-fw"></i> Presupuestos</a></li>
    <li class="{{ rp_active }}"><a href="{% url pagos:paciente_search %}"><i class="fa fa-usd fa-fw"></i> Realizar Pago</a></li>
    <li class="{{ r_active }}"><a href="{% url pagos:pagos_list %}"><i class="fa fa-table fa-fw"></i> Pagos Realizados</a></li>
    {% endif %}

    {% if perms.inventario.add_producto %}
    <li class="sidebar-header text-center">Inventario</li>
    <li class="{{ s_active }}"><a href="{% url inventario:producto_search %}"><i class="fa fa-search fa-fw"></i> Buscar Producto</a></li>
    <li class="{{ pc_active }}"><a href="{% url inventario:producto_create %}"><i class="fa fa-plus fa-fw"></i> Agregar Producto</a></li>
    <li class="{{ e_active }}"><a href="{% url inventario:entradas %}"><i class="fa fa-list fa-fw"></i> Ver Entradas</a></li>
    <li class="{{ ec_active }}"><a href="{% url inventario:entradas_canceladas %}"><i class="fa fa-list fa-fw"></i> Ver Entradas Canceladas</a></li>
    <li class="{{ i_active }}"><a href="{% url inventario:producto_list %}"><i class="fa fa-list fa-fw"></i> Ver Productos</a></li>
    {% endif %}

  </ul>

</div><!-- end .sidebar -->
