{% load static from staticfiles %}
<div class="col-sm-3 col-md-2 sidebar">

  {% if paciente %}
  <div class="client-info clearfix">
    <img src="{% static paciente.imagen %}" alt="Cliente" width="50" height="50" class="pull-left">
    <p>{{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</p>
  </div><!-- TODO: remove and turn into a block -->
  {% endif %}

  <ul class="nav nav-sidebar">

    {% if perms.clinica.add_odontograma %}
    {% if paciente %}
    <li class="{{ pd_active }}"><a href="{% url clinica:paciente_detail paciente.id %}"><i class="fa fa-user fa-fw"></i> Datos Personales</a></li>
    <li class="{{ e_active }}"><a href="{% url clinica:interrogatorio paciente.id %}"><i class="fa fa-folder fa-fw"></i> Expediente Medico/Dental</a></li>
    <li class="sidebar-header text-center">Actividades Clinicas</li>
    <li class="{{ p_active }}"><a href="{% url clinica:procedimientos paciente.id %}"><i class="fa fa-th-list fa-fw"></i> Plan de Tratamiento</a></li>
    <li class="{{ o_active }}"><a href="{% url clinica:odontograma paciente.id %}"><i class="fa fa-puzzle-piece fa-fw"></i> Odontograma</a></li>
    <li class="{{ h_active }}"><a href="{% url clinica:historial paciente.id %}"><i class="fa fa-clipboard fa-fw"></i> Historial de Procedimientos</a></li>
    {% endif %}
    {% endif %}

    {% if perms.cotizacion.add_cotizacion %}
    <li class="sidebar-header text-center">Administraci&oacute;n</li>
    <li class="{{ rp_active }}"><a href="{% url pagos:paciente_search %}"><i class="fa fa-search fa-fw"></i> Buscar Paciente</a></li>
    <li class="{{ c_active }}"><a href="{% url cotizacion:cotizacion_list %}"><i class="fa fa-calculator fa-fw"></i> Presupuestos</a></li>
    <li class="{{ cp_active }}"><a href="{% url cotizacion:procesado_list %}"><i class="fa fa-calculator fa-fw"></i> Presupuestos Procesados</a></li>
    <li class="{{ r_active }}"><a href="{% url pagos:pagos_list %}"><i class="fa fa-list fa-fw"></i> Pagos Realizados</a></li>
    <li class="{{ pg_active }}"><a href="{% url precios:precios_grupos %}"><i class="fa fa-usd fa-fw"></i> Precios por Grupo</a></li>
    <li class="{{ us_active }}"><a href="{% url utilidad:utilidad_search %}"><i class="fa fa-list fa-fw"></i> Utilidades</a></li>
    {% endif %}

    {% if perms.inventario.add_producto %}
    <li class="sidebar-header text-center">Inventario</li>
    <li class="{{ s_active }}"><a href="{% url inventario:producto_search %}"><i class="fa fa-search fa-fw"></i> Buscar Producto</a></li>
    <li class="{{ pc_active }}"><a href="{% url inventario:producto_create %}"><i class="fa fa-plus fa-fw"></i> Agregar Producto</a></li>
    <li class="{{ i_active }}"><a href="{% url inventario:producto_list %}"><i class="fa fa-cube fa-fw"></i> Productos</a></li>
    <li class="{{ pde_active }}"><a href="{% url inventario:productos_cancelados %}"><i class="fa fa-times fa-fw"></i> Productos Desactivados</a></li>
    <li class="{{ u_active }}"><a href="{% url inventario:unidades %}"><i class="fa fa-dashboard fa-fw"></i> Unidades de Medida</a></li>
    {% endif %}

    {% if perms.consumidos.add_paquete %}
    <li class="sidebar-header text-center">Paquetes</li>
    <li class="{{ pn_active }}"><a href="{% url consumidos:paquete_new %}"><i class="fa fa-tasks fa-fw"></i> Crear Paquete</a></li>
    <li class="{{ ps_active }}"><a href="{% url consumidos:paquete_list %}"><i class="fa fa-th-list fa-fw"></i> Paquetes</a></li>
    {% endif %}

    {% if perms.inventario.change_producto %}
    <li class="sidebar-header text-center">Entradas</li>
    <li class="{{ e_active }}"><a href="{% url inventario:entradas %}"><i class="fa fa-cubes fa-fw"></i> Entradas de Producto</a></li>
    <li class="{{ ec_active }}"><a href="{% url inventario:entradas_canceladas %}"><i class="fa fa-times fa-fw"></i> Entradas Canceladas</a></li>

    <li class="sidebar-header text-center">Salidas</li>
    <li class="{{ pe_active }}"><a href="{% url consumidos:peticion_list %}"><i class="fa fa-inbox fa-fw"></i> Peticiones</a></li>
    <li class="{{ psl_active }}"><a href="{% url consumidos:peticion_surtido_list %}"><i class="fa fa-th-large fa-fw"></i>Peticiones Atendidas</a></li>
    <li class="{{ pcld_active }}"><a href="{% url consumidos:peticiones_canceladas %}"><i class="fa fa-th-large fa-fw"></i>Peticiones Canceladas</a></li>
    <!-- <li class="{{ pcd_active }}"><a href="{% url consumidos:consumido_new %}"><i class="fa fa-asterisk fa-fw"></i>Mat.Extra</a></li>
    <li class="{{ pcl_active }}"><a href="{% url consumidos:consumido_list %}"><i class="fa fa-asterisk fa-fw"></i>Materiales Entregados</a></li> -->
    {% endif %}

    {% if perms.altas.add_tratamiento %}
    <li class="sidebar-header text-center">Altas</li>
    <li class="{{ m_active }}"><a href="{% url altas:medicos %}"><i class="fa fa-user-md fa-fw"></i> Medicos</a></li>
    <li class="{{ pa_active }}"><a href="{% url altas:pacientes %}"><i class="fa fa-user fa-fw"></i> Pacientes</a></li>
    <li class="{{ g_active }}"><a href="{% url altas:grupos %}"><i class="fa fa-users fa-fw"></i> Grupos</a></li>
    <li class="{{ t_active }}"><a href="{% url altas:tratamiento %}"><i class="fa fa-heart fa-fw"></i> Tratamientos</a></li>
    <li class="{{ tp_active }}"><a href="{% url altas:preventivo %}"><i class="fa fa-heart fa-fw"></i> Tratamientos Preventivos</a></li>
    <li class="{{ ev_active }}"><a href="{% url altas:evaluacion %}"><i class="fa fa-heart fa-fw"></i> Evaluaciones</a></li>
    {% endif %}
  </ul>

</div><!-- end .sidebar -->
