{% extends "base1.html" %}
{%load static from staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Cotizacion : #{{cotizacion.folio}}</h2>
<div class="well odontograma clearfix">
  <div class="col-xs-1">
    
  </div>
  <div class="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Medico</th>
          <th>Folio</th>
          <th>GRUPO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{cotizacion.paciente }} </td>
          <td>{{cotizacion.medico }}</td>
          <td>{{cotizacion.folio}}</td>
          <td>{{cotizacion.paciente.grupo}}</a></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- patient info section -->



	<h2 class="page-header">Paciente a Cotizar</h2>

	<form action="{{request.path}}" method="post" >
		{% csrf_token %}
		{{form.as_ul}}

		<input style="float:right; margin-top:10px;" type="submit" value="Guardar cotizacion">
		<div class="cleared"></div>
	</form>

	<br><br>


<!---   Para agregar Servicios rapidamente al momento de Registrar al Cliente -->


	<h3>Servicios en esta cotizacion</h3>
	{% if latest_list %}

			<div class="table-responsive">
  			<table class="table table-hover">
 
				<tr>
					<th>Diagnostico</th>
					<th>Pan de Tratamiento</th>			
					<th>Costo</th>					
					<th>Status</th>
				</tr>
			{% for object in latest_list %}

				<ul>
					{% for precio in object_list %}
						

					{% endfor %}
				</ul>

				<tr>
				<form method="POST" action="">
					<td><a href="{{request.path}}details/update/{{object.id}}/">{{object.servicio.nombreDelServicio}}</a></td>
					<td><a href="{{request.path}}details/update/{{object.id}}/">{{object.servicio.nombreDelServicio}}</a></td>
					<td><input type ="text" value ="{{object.servicio.precio}}" class="precio" readonly="precio"></td>					
					<td>{{cotizacion.precio.servicio}}</a></td>	
					<td><td class="active">{{object.get_estado_display}}</td>
					

				</tr>
			{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>

					
					<labelstyle="float:right; margin-right:10px;" for="total">Total: <input type="text" id="total" value="0"/>
					<input id="calcular" type="button" value="Calcular" />
					<form method="post" action="">

				</tr>
			</table>
			<input style="float:right; margin-right:40px;"  type="button" value="Imprimir" onclick="window.open('{{request.path}}printit')">
			<div class="cleared"></div>




	{% else %}

		<p style="text-align:center;"> No se ha agregado ningún servicio a esta Cotizacion.</p>

	{% endif %}

	<input style="float:right; margin-right:40px;"  type="button" value="Agregar Servicio" onclick="location.href='{{request.path}}details/create/'">
	<div class="cleared"></div>



{% endblock content %}


 {% block javascript %}
<script type="text/javascript">


function calcular_total() {

	var precio_total = 0;
	$(".precio").each(function(index, value) {
		console.log("Entra a log");
		precio_total = precio_total + parseInt($(this).val());
		console.log(precio_total);
	});
	$("#total").val(precio_total);
}

function obtener() {
	$("#precio").append('<input type="text" class="precio" value="0"');
}
// $("#calcular").on("click",calcular_total());
(function(){
	
	calcular_total();
})();
</script>
{% endblock javascript %}


	
