{% extends "base1.html" %}
{%load static from staticfiles %}
{% block content %}

	<h2 class="page-header">Paciente a Cotizar</h2>

	<form action="{{request.path}}" method="post" >
		{% csrf_token %}
		{{form.as_ul}}
		<input style="float:right; margin-top:10px;" type="submit" value="Guardar cotizacion">
		<div class="cleared"></div>
	</form>

	<br><br>


<!---   Para agregar Servicios rapidamente al momento de Registrar al Cliente -->


	<h3>Servicios en esta cotizacion</h3>
	{% if latest_list %}
			<table>
				<tr>
					<th>Servicio</th>
					<th>Grupo</th>
					<th>Costo</th>
					<th>Total</th>
				</tr>
			{% for object in latest_list %}
				<tr>
					<td><!--a href="{{request.path}}details/update/{{object.id}}/"-->{{object.nombreDelServicio}}</a></td>
					<td><!--a href="{{request.path}}details/update/{{object.id}}/"-->{{object.nombreDelGrupo}}</a></td>
					<td><!--a href="{{request.path}}details/update/{{object.id}}/"-->${{object.precio}}</a></td>

					<td><!--a href="{{request.path}}details/update/{{object.id}}/"-->${{object.total}}</a></td>
				</tr>
			{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align:right" >${{cotizacion.total}}</td>
				</tr>
			</table>
			<input style="float:right; margin-right:40px;"  type="button" value="Imprimir" onclick="window.open('{{request.path}}printit')">
			<div class="cleared"></div>
	{% else %}

		<p style="text-align:center;"> No se ha agregado ningún servicio a esta Cotizacion.</p>

	{% endif %}

	<input style="float:right; margin-right:40px;"  type="button" value="Agregar Servicio" onclick="location.href='{{request.path}}details/create/'">
	<div class="cleared"></div>

{% endblock %}