{% extends "base1.html" %}
{%load static from staticfiles %}
{% block content %}

	<h2 class="page-header">Presupuestos</h2>

	<div class="cleared"></div>
	{% if latest_list %}
			<table style="text-align:center"class="table table-condensed" border='0'>
				<tr >
					<th style="text-align:center">Cliente</th>

					<th style="text-align:center" >Fecha</th>

				</tr>
			{% for object in latest_list %}
				<tr>
					<td><a href="update/{{object.id}}/" data-toggle="tooltip" class="tip-left" data-original-title="Click para agregar servicios">{{object.paciente}}</a></td>
					<td>{{object.fecha}}</td>



				</tr>
			{% endfor %}
			</table>

		<table>
			<input style="float:right; margin-right:20px;"  type="button" value="Agregar Cotización" onclick="location.href='{{request.path}}create/'">

		</table>
	{% else %}
		<p class="lead text-muted text-center">No hay Cotizaciones en la base de datos.</p>
	{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'left'
    });
});
</script>
<style type="text/css">
	.bs-example{
    	margin: 100px 50px;
    }
</style>
{% endblock %}
