{% extends "base1.html" %}

{% block content %}

<h2 class="page-header">Ordenes Pendientes</h2>

{% if orders %}
	<table class="table table-hover">
		<tr>
			<th>#</th>
			<th>Medico</th>
			<th>Cliente</th>
			<th>Fecha</th>
			<th>&nbsp;</th>
		</tr>
		{% for order in orders %}
		<tr>
			<td>{{ order.id }}</td>
			<td>{{ order.doctor }}</td>
			<td>{{ order.paciente }}</td>
			<td>{{ order.created_at }}</td>
			<td class="text-right">
				<a href="{{ order.id }}/" title="Ver Cotizaci&oacute;n" class="btn btn-primary">Ver Cotizaci&oacute;n</a>
			</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p class="lead text-muted text-center">No hay ordenes pendientes.</p>
{% endif %}

{% endblock %}
