{% extends 'base-pdf.html' %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:8000/static/css/localPDF.css">

<div class="well odontograma clearfix">
  <div class="col-xs-1">
    <alt="{{ cotizacion.odontograma.paciente.nombre }} {{ cotizacion.odontograma.paciente.apellidoPaterno }}">
  </div>
  <div class="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Grupo</th>
          <th># Presupuesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cotizacion.odontograma.paciente}}</td>
          <td>{{ cotizacion.odontograma.paciente.grupo }}</td>
          <td>{{ cotizacion.id}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Medico Tratante</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>{{ cotizacion.odontograma.medico }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
    </table>
  </div>
</div><!-- patient info section --> 
<div class="row">
  <div class="col-md-8">
      <form method="post" action="" class="cotizacion clearfix">
    
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Plan de Tratamiento</th>
              <th>Costo</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for cotizacion  in items  %}
            
            <tr>
              <td>{{ cotizacion.procedimiento.tratamiento }}</td>
              <td class="precio">{{ cotizacion.precio }}</td>
             
            </tr>
            {% endfor %}
          </tbody>
        </table>
          <tr>
        
        {% if cotizacion.total_procesado %}
        <tr class="info">
          <th>Total</th>
          <td align="right">{{ cotizacion.total_procesado }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
{% endblock %}


