{% extends "base1.html" %}

{%load static from staticfiles %}

{% block content %}

	<h2 class="page-header">Búsqueda</h2>
{{ search_string }}

	{% if search_string %}
	<p class="text-center">Usted ingresó "{{ search_string }}" :</p>
		{% if objects %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Paquete</th>
						<th>Medico</th>
						<th>fecha</th>

						
					<!--  Campos de Precio y Total
						<th class="text-center">Precio</th>
						<th class="text-center">Total</th>
					-->
					
						
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
  		{% for paquete in objects %}
  			<tr>
  				<td>{{paquete.id}}</td>
  				<td>{{ paquete.paquete }}</td>
  				<td>{{ paquete.medico }}</td>
  				<td>{{ paquete.fecha }}</td>
  				
  				

  		

  				
  				<td class="text-center"><a href="/tipoPaquete/edit/{{ id_paquete }}" class="btn btn-info">Editar</a></td>
  				<td class="text-center"><a href="/detalles_producto/{{ producto.id }}" class="btn btn-default">Ver Detalles</a></td>
  				
  			</tr>
  		{% endfor %}
  			</tbody>
			</table>
			<p class="lead text-center">
			<a href="/pack/detalles/" class="btn btn-primary">Nueva Búsqueda <span class="glyphicon glyphicon-chevron-right"></span></a href="/"></p>
		{% else %}
			<p class="lead text-center text-muted">No se han encontrado paquetes con ese folio.
			<a href="/pack/detalles/" class="btn btn-primary">Nueva Búsqueda <span class="glyphicon glyphicon-chevron-right"></span></a href="/"></p>
		{% endif %}

		{% else %}

		<div class="text-center search clearfix">
			<form action="" method="GET">
				
				<label for="q" class="lead">Ingrese el nombre del Paquete:</label>
				<input type="text" name="q" class="form-control" placeholder="Nombre del paquete..." value="{{ query|escape }}">
				<input type="submit" class="btn btn-primary" value="Buscar">
				
			</form>
		</div>
  {% endif %}
{% endblock content %}