{% extends "base1.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Paquete{% endblock %}

{% block css %}
<style>
  
</style>
{% endblock %}

{% block content %}
<div class="well paquete clearfix">
  <div class="col-xs-3">
    <img src="{% static paquete.paciente.imagen %}" alt="{{ paquete.paciente.nombre }} {{ paquete.paciente.apellidoPaterno }}" class="pull-left img-rounded">
  </div>
  <div class="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre:</th>
          <th>Paquete:</th>
          <th>Fecha:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ paquete.paciente}}</td>
          <td>{{ paquete.paquete }}</td>
         <td>{{paquete.fecha|date:"d-M-Y"}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Medico Tratante</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>{{ paquete.medico }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
    </table>
  </div>
</div><!-- patient info section -->



<h2>Lista de Productos </h2>
<form action="" method="post">{% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
  <div class="formset row">
    {% crispy form %}
  </div>
  {% endfor %}
<div id="empty-form" class="formset row" style="display:none;">
  {% crispy formset.empty_form %}
</div>
  <input type="submit" class="btn btn-primary" value="Guardar">
</form>


{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
$('.formset').formset({
  addText: 'Agregar Producto <span class="glyphicon glyphicon-plus"></span>',
  deleteText: 'remove',
  addCssClass: 'add-row btn btn-success',
  deleteCssClass: 'delete-row btn btn-default normalized-btn',
  formCssClass: 'dynamic-form',
  formTemplate: '#empty-form',
});
</script>
{% endblock %}