{% extends "base1.html" %}
{%load static from staticfiles %}

{% block content %}

<h2 class="page-header">Paquetes</h2>

{% if paquetes %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Paquete</th>
      <th>Descripcion</th>
      <th>Doctor</th>
      <th>Paciente</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for paquete in paquetes %}
    <tr>
      <td>{{ paquete.paquete.nombre }}</td>
      <td>{{ paquete.paquete.descripcion }}</td>
      <td>{{ paquete.medico }}</td>
      <td>{{ paquete.paciente }}</td>
      <td>{{ paquete.fecha }}</td>

      
      <td><a href="/orden/detalle/"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/paquetes/" class="btn btn-primary pull-right">Registrar Nuevo paquete <span class="glyphicon glyphicon-plus"></span></a>
{% else %}
<p class="lead text-center text-muted">No hay paquetes registrados en la base de datos.<br><br><a href="/altas/paciente/new/" class="btn btn-primary">Registrar Salida de Insumos <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endif %}
{% endblock content %}
