/*!
 *
 * local css
 *
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 137px;
}

/* helper classes */
@import 'helpers';

nav.navbar + .page-header { margin-top: 10px; }

.container-fluid {
  max-width: 1280px;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 148px;
  max-width: 1280px;

  .alert {
    text-align: justify;
    font-size: 8px;
  }

}

// styling del header principal
.page-header h2 {
  font-size: 50px;
  color: #999999;
  margin-left: 80px;
  padding-top: 20px;
}

// color de la barra de navegacion
.navbar-inverse {
  background-color: #4096ee;
  border-color: #cccccc;

  .navbar-brand { color: #ffffff; }
  .navbar-brand:hover { color: #ddedfd; }

  .navbar-nav {

    > .open {

      > a,
      > a:focus,
      > a:hover { background-color: #a1c4f0; }

    }

    > li {

      > a { color: #fff; }
      > a:hover { @extend .navbar-brand:hover; }

    }

  }

  .navbar-right > li:last-child { margin-right: 15px; }

}

.sidebar {
  display: none;

  @media (min-width: 768px) {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    background-color: #f5f5f5;
    border-right: 1px solid #e7e7e7;
  }

  .client-info {
    background-color: #cbefff;
    margin: 0px -20px;

    img {
      border: 1px solid #a8e1fa;
      margin: 10px;
    }

    p {
      font-weight: bold;
      color: #555;
      margin-top: 15px;
      margin-right: 10px;
    }

  }

}

.nav-sidebar {
  margin-right: -21px; // 20px padding + 1px border
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  > .active {

    > a,
    > a:hover,
    > a:focus {
      color: #fff;
      background-color: #428bca;
    }

  }

  .sidebar-header {
    background-color: #ddd;
    padding: 10px 20px;
    margin-top: 15px;
    color: #555;
    font-size: 18px;
  }

  > .sidebar-header:first-of-type {
    margin-top: 0px;
  }

}

.main {
  padding: 20px;

  .page-header { margin-top: 0; }

}

.col-md-offset-2 {
  @media (min-width: 992px) { margin-left: 16.66666667%; }
}

.login { background-color: #f5f5f5; }

.start-search {
  margin-top: 60px;
  @extend .login;
}

/*

form styling

*/

fieldset { margin-top: 20px; }

legend {
  padding: 10px 0px 10px 20px;
  background-color: #cbefff;
}

/*

login

*/

.login {
  padding-top: 0px;
  margin-bottom: 30px;

  .login-container {
    margin: 0 auto;
    float: none;

    .logo {
      width: 145px;
      margin: 0 auto;
      padding: 20px 0px;
    }

    .alert ul {
      padding-left: 0px;

      li { list-style: none; }

    }

  }

}

/*

tables

*/

.table thead ~ thead tr th { padding-top: 25px; }

/*

busqueda

*/

.search {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;

  label {
    display: block;
    width: 100%;
  }

  input {
    width: 480px;
    display: block;
    float: left;

    + input {
      width: 100px;
      margin-left: 20px;
    }

  }

  ~ table tbody tr:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }

}

/* cotizacion */

.cotizacion {

  .form-group {
    margin-bottom: 0px;

    .checkbox {
      margin-top: 0px;
      margin-bottom: 0px;

      label { min-height: 12px; }

    }

  }

  input[type=submit] { margin-top: 20px; }

}

/*

odontograma

*/

/* svg */
svg\:svg { display: none; }

.svg_error {
  color: red;
  font-weight: bold;
}

.odontograma {
  background-color: #cbefff;
  border-color: #a8e1fa;

  img { max-width: 100%; }

  .table > thead > tr > th { border-bottom-color: #a8e1fa; }

  form { position: absolute; }

  ~ .clearfix form .lead { margin-top: 20px; }

}

#odontograma {
  width: 620px;
  margin: 0 auto;
}

#formsets{

  fieldset {
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  ul {
    margin: 0px;
    padding: 0px;

    li { list-style: none; }

  }

  .form-inline { width: 98%; }

  .bin { margin-top: 5px; }

  .form-group {

    label,
    .controls { display: inline; }

    label { margin: 7px 7px 0px 0px; }

    .controls {
      margin-right: 20px;

      textarea {
        max-width: 100%;
        height: 34px;
      }

    }

  }

  .form-group:first-of-type .controls input { width: 45px; }

  .form-group:nth-child(3) .controls select { width: 90px; }

  .form-group:nth-child(4),
  .form-group:nth-child(5) { width: 25%; }

  .form-group:nth-child(4) .controls {
    width: 61%;
    textarea { max-width: 58%; }
  }

  .form-group:nth-child(5) .controls {
      width: 77%;
      margin-right: 0px;

      textarea { max-width: 74%; }

  }

}

#tooth-images {
  position: relative;
  bottom: 305px;
  height: 60px;
  width: 620px;
  margin: 0 auto;

  img + img { margin-left: 10px; }

  img[alt="11"] { margin-right: 5px; }

  .bottom {
    position: relative;
    top: 125px;
    left: 5px;

    img[alt="47"],
    img[alt="38"] { margin-left: 5px; }

    img[alt="46"] { margin-left: 6px; }

    img[alt="43"],
    img[alt="34"] { margin-left: 15px; }

    img[alt="42"],
    img[alt="36"] { margin-left: 12px; }

    img[alt="41"] {
      margin-left: 16px;
      margin-right: 15px;
    }

    img[alt="32"] { margin-left: 16px; }

    img[alt="33"] { margin-left: 13px; }

    img[alt="37"] { margin-left: 7px; }

  }

}

/*

grupos

*/

.grupos a.text-danger {
  margin-left: 20px;
}
