{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block bodyclass %}class="home"{% endblock %}

{% block body %}
<h4 class="page-header">Welcome, {{ user.get_full_name }}</h4>
{% if perms.clinica.add_odontograma %}
<a href="{% url clinica:paciente_search %}" class="btn btn-info btn-lg">Ir a Clinica <i class="fa fa-chevron-right fa-fw"></i></a>
{% endif %}
{% if perms.cotizacion.add_cotizacion %}
<a href="{% url cotizacion:cotizacion_list %}" class="btn btn-success btn-lg">Ver Presupuestos <i class="fa fa-chevron-right fa-fw"></i></a>
{% endif %}
{% if perms.inventario.add_producto %}
<a href="" class="btn btn-primary btn-lg">Inventario</a>
{% endif %}
{% endblock %}

{% block footer %}
  <div class=" col-md-12">
    {% include "footer.html" %}
  </div>
{% endblock %}
