{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
  <div class ="col-md-4 col-md-offset-4">
    <h2 class="page-header">{%block title%}Cambio de Contrase&ntilde;a{% endblock title %}</h2>
    <!-- <div class= "alert alert-info">
      <h3 class="text-center">Aviso Importante!</h3>
      <p>Por políticas de seguridad, MediExcel le solicita establecer su nueva contraseña con la que accederá a su sesión personalizada de usuario.</p>
      <p>Seguiremos trabajando para ofrecerle un mejor servicio con: www.mediexcelsys.net</p>
    </div> -->

    {% crispy form %}

  </div>
{% endblock %}

{% block footer %}
  <div class=" col-md-12">
    {% include "footer.html" %}
  </div>
{% endblock %}
