{% extends 'dash.html' %}
{% load crispy_forms_tags %}

{%block title%}Cambio de Contrasena{% endblock title %}

{% block content%}
    <div class ="col-md-8 col-md-ofsset-2">

        <hr>
        <div class= "alert alert-info">
            <center><h2>Aviso Importante!</h2></center>
            <p>
    Por políticas de seguridad, MediExcel le solicita establecer  su nueva contraseña con la que accederá a su sesión personalizada de usuario, 
            </p>
        <p>
                Seguiremos trabajando para ofrecerle un mejor servicio con: www.mediexcelsys.net
            </p>
        </div>
 
        {% crispy form %}
        </div>

{% endblock content%}