{% extends "base1.html" %}
{%load static from staticfiles %}
{% block content %}

    <h2 class="page-header">Agregando Servicio</h2>

    <h4>Paciente: {{object.paciente}}</h4>
    <br>

	<form action="{{request.path}}" method="post" >
		{% csrf_token %}
		{{form.as_ul}}
		<br>
		<input style="float:left; margin-right:20px;" type="button" value="Borrar" onclick="location.href='{{request.path}}delete'">
		<input style="float:center; margin-right:20px;" type="submit" value="Guardar">
		<div class="cleared"></div>
	</form>

{% endblock content %}