{% extends "dash.html" %}

{%load static from staticfiles %}

{% block title %}Detalle de Odontograma{% endblock %}

{% block content %}

<h2 class="page-header">Detalle de Odontograma</h2>

<div class="col-md-6">
  <table class="table table-bordered">
    <tr>
      <th># de Odontograma:</th>
      <td>{{ odontograma.id }}</td>
    </tr>
    <tr>
      <th>Medico:</th>
      <td>{{ odontograma.doctor }}</td>
    </tr>
    <tr>
      <th>Paciente:</th>
      <td>{{ odontograma.paciente }}</td>
    </tr>
    <tr>
      <th>Observaciones:</th>
      <td>{{ odontograma.notas }}</td>
    </tr>
  </table>
</div>

<div class="col-md-6">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pieza</th>
        <th>Cara</th>
        <th>Tratamiento</th>
      </tr>
    </thead>
    <tbody>
      {% for procedimiento in odontograma.procedimiento_set.all %}
      <tr>
        <td>{{ procedimiento.pieza }}</td>
        <td>{{ procedimiento.get_cara_display }}</td>
        <td>{{ procedimiento.tratamiento }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
