{% extends "base1.html" %}
{%load static from staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

        <h2 class="page-header">Procedimientos Diagnosticados</h2>


<!-- Tabla de Pacientes  -->

<table class="table table-hover table-bordered">
        <thead>
            <tr>
              <th><div align="center">Fecha Y Hora</div></th>
                <th><div align="center">Nombre Pieza Dental</div></th>
                <th><div align="center">Problema Dental</div></th>
                <th><div align="center">Elegir Servicio</div></th>
            </tr>
        </thead>
  {%for paciente in detallespaciente %}

        <!-- En caso de llevar cabecera principal

      <table class="table table-hover">

        <br><br><br>
        <div align="center">
          Fecha Y Hora: {{paciente.fechayHora}}
      </div>
      </table>
        -->

        <tbody>
            <tr>
              <td><div align="center">{{paciente.fechayHora}}</div></td>
                <td><div align="center">{{paciente.nombrePiezaDental}}</div></td>
                <td><div align="center">{{paciente.problemaDental}}</div></td>
                <td><div align="center"> <input name="cuadro" type="checkbox" value="1"> </div></td>
            </tr>
        </tbody>
      
<!--
            <tr
                <td<div align="left"><b>Nota:</b> {{paciente.notas}}
            </div></td>
            </tr>
-->

    {% endfor %}
    </table>

<br><br>

<input style="float:left; margin-right:20px;"  type="button" value="Agregar Cotización" onclick="location.href='{{request.path}}create/'">

{% endblock content %}
