{% extends "base1.html" %}

{% block content %}

<h2 class="page-header">Lista de Diagnosticos</h2>

{% if diagnosticos %}
<table class="table table-hover grupos">
    <thead>
        <tr>
            <th>C&oacute;digo</th>
            <th>Nombre</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for diagnostico in diagnosticos %}
        <tr>
            <td>{{ diagnostico.codigo }}</td>
            <td>{{ diagnostico.nombre }}</td>
            <td class="text-right"><a href="/diagnostico/edit/{{ diagnostico.id }}/" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/diagnostico/new/" class="btn btn-primary pull-right">Agregar Diagnostico <span class="glyphicon glyphicon-plus"></span></a>
{% else %}
<p class="lead text-center text-muted">No hay diagnosticos en la base de datos.<br><br>
<a href="/diagnostico/new/" class="btn btn-primary">Agregar Diagnostico <span class="glyphicon glyphicon-chevron-right"></span></a></p>
{% endif %}
{% endblock content %}
