{% extends "base1.html" %}
{%load static from staticfiles %}

{% block content %}

	{%load static from staticfiles %}

       <link rel="stylesheet" href="{% static 'css/odstyle.css'%}">

    <h2 class="page-header">Evaluacion Médica</h2>


      <!-- Forma para la busqueda del Paciente -->

      <form class="." method="GET" autocomplete="on"><br>

    <label for="q">Buscar Paciente </label>
    <input type="text" name="q" value="{{ query|escape }}" placeholder="Nombre del Paciente">
    <br><br>
        <div id="botonsend">
        <input type="submit" value="Buscar">
            </div>
  </form>
<br><br>

<!-- Tabla de Datos del Paciente -->

<div align = "center">

  {% if query %}

    <!-- Desplegar nombre de la busqueda
    <div class =  "texto2">Paciente: "{{ query|escape }}"</div>
    
    <br><br>
    -->

    {% if results %}
      
      <table border='0' width="80%" align='center' >
           {%for paciente in results%}

        <!-- En caso de llevar cabecera principal

      <table class="table table-hover">
           
        <br><br><br>
        <div align="center">
          Fecha Y Hora: {{paciente.fechayHora}}
      </div>        
      </table>
        -->

      <table class="table table-hover table-bordered">
        <thead>
            <tr>
              <th><div align="center">Paciente</div></th>
                <th><div align="center">Grupo</div></th>
                <th><div align="center">Detalles</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><div align="center">
                {{paciente.nombre}} {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}}
              </div></td>
                <td><div align="center">{{paciente.grupo}}</div></td>
                <td><div align="center"><a href="/detalles/" class="btn btn-default">VER</a></div></td>
            </tr>
        </tbody>    
    {% endfor %}
    </table>

       <br><br> 
      
    {% else %}
         <br><br> <div class =  "texto2">"No hay Pacientes con ese Nombre"</div>
    {% endif %}
  {% endif %}
</div>


{% endblock content %}