{% extends "basePDF.html" %}
#encoding:utf-8
{%load static from staticfiles %}


{% block title %} 
    <h2 class="pull-left"> Expediente Medico Dental</h2>   
{% endblock title %}


{% block content %}

{% if HistoriaClinica %}

<p>Credencial del Paciente: <strong> {{HistoriaClinica.credencialPaciente}}</strong></p>

<p>Nombre del Paciente: <strong>{{HistoriaClinica.paciente}}</strong></p>

<p>Atendido por: <strong>Dr. {{HistoriaClinica.medico}}</strong></p>

<p>Fecha Consulta: <strong>{{fecha}}</strong> Hora: <strong>{{hora}}</strong></p>

<br>
<!-- Antecedentes Patológicos Hereditarios -->
<h4><strong>Antecedentes Patológicos Hereditarios</strong></h4>

<div id="HistoriaClinicaPDF">
<table class="table">

    <tbody>
  
        <tr>
           	<th>Madre: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaMadre}}</td>
        </tr>
        <tr>
            <th>Padre: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaPadre}}</td>
        </tr>
        <tr>
            <th>Hermanos: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaHermanos}}</td>
        </tr>
        <tr>
            <th>Hijos: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaHijos}}</td>
        </tr>
        <tr>
            <th>Esposo (a): </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaEsposos}}</td>
        </tr>
        <tr>
            <th>Tios: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaTios}}</td>
        </tr>
        <tr>
            <th>Abuelos: </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.herenciaAbuelos}}</td>
        </tr>
	</tbody>
</table>


<!-- Antecedentes personales Patológicos -->
<h4><strong>Antecedentes personales Patológicos</strong></h4>

<table class="table">

    <tbody>
        <tr>
            <th style="width: 10%;">Enfermedades inflamatorias: </th>
            <td style="width: 33%;">{{HistoriaClinica.eInflamatoriasnotopciones}}</td>

            <th style="width: 20%;">Enfermedades de trans. sexual: </th>
            <td style="width: 33%;">{{HistoriaClinica.ets}}</td>
        </tr>
        <tr>
            <th>Enfermedades degenerativas: </th>
            <td>{{HistoriaClinica.eDegenerativas}}</td>

            <th>Enfermedades neoplásicas: </th>
            <td>{{HistoriaClinica.eNeoplasticas}}</td>
        </tr>
        <tr>
            <th>Enfermedades congénitas: </th>
            <td>{{HistoriaClinica.eCongenitas}}</td>

            <th>Otras: </th>
            <td>{{HistoriaClinica.otras}}</td>
        </tr>

    </tbody>   
</table>


<!-- Antecedentes personales No Patológicos -->
<h4><strong>Antecedentes personales No Patológicos</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th>Hábitos higiénicos (En el vestuario) </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.habitosHigienicosVest}}</td>
        </tr>
    </tbody>
</table>


<table class="table">

    <tbody>
  
        <tr>
            <th>Hábitos higiénicos (Corporales) </th>
        </tr>
        <tr>
            <td>{{HistoriaClinica.habitosHigienicosCorp}}</td>
        </tr>

    </tbody>
</table>


<table class="table">

    <tbody>
        <tr>
            <th style="width: 23%;">¿Con que Frecuencia se lava los dientes? </th>
            <td>{{HistoriaClinica.frecuenciaLavadoDental}}</td>

            <th style="width: 20%;">¿Utiliza auxiliares de higiene bucal? </th>
            <td>{{HistoriaClinica.uxiliaresBucales}}</td>


            <th style="width: 30%;">Consumo de alimentos entre comidas (golosinas,otros) </th>
            <td>{{HistoriaClinica.consumodeGolosinas}}</td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>
            <th>Grupo sanguíneo </th>
            <td>{{HistoriaClinica.gruposanguineo}}</td>

            <th>Factor Rh </th>
            <td>{{HistoriaClinica.factorRh}}</td>

            <th>¿Cuenta con Cartilla de vacunación? </th>
            <td>{{HistoriaClinica.cartilladeVacunacion}}</td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>           
            <th style="width: 10%;">Adicciones: </th>
            <td style="width: 10%;">{{HistoriaClinica.adicciones}}</td>

            <th style="width: 28%;">Antecedentes alérgicos: </th>
            <td style="width: 10%;">{{HistoriaClinica.alergias}}</td>

            <th>¿Tiene el esquema completo? </th>
            <td>{{HistoriaClinica.esquemaCompleto}}</td>
        </tr>
    </tbody>
</table>


<table class="table">

    <tbody>
        <tr>
            <th style="width: 24%;">Especifique cuál falta: </th>
            <td>{{HistoriaClinica.esquemaFalta}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>¿Ha sido hospitalizado? </th>
        </tr>
        <tr>
            <td colspan="4">{{HistoriaClinica.fechaHospitalizaion}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>Motivo de su hospitalización </th>
        </tr>
        <tr>
            <td colspan="4">{{HistoriaClinica.motivo}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>Padecimiento Actual </th>
        </tr>        
        <tr>
            <td colspan="4">{{HistoriaClinica.padecimientoActual}}</td>
        </tr>

    </tbody>
</table>


<!-- HistoriaClinica por aparatos y sistemas -->
<h4><strong>HistoriaClinica por aparatos y sistemas</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th>Cabeza </th>
            <td>{{HistoriaClinica.cabeza}}</td>

            <th>Cráneo </th>
            <td style="width: 15%;">{{HistoriaClinica.craneo}}</td>

            <th>Cara </th>
            <td>{{HistoriaClinica.caraAsimetria}}</td>
        </tr>
        <tr>
            <th>Piel </th>
            <td>{{HistoriaClinica.piel}}</td>

            <th>Cuello </th>
            <td>{{HistoriaClinica.cuello}}</td>

            <th>Perfil </th>
            <td>{{HistoriaClinica.perfil}}</td>
        </tr>
        <tr>
            <th>Músculos </th>
            <td colspan="3">{{HistoriaClinica.musculos}}</td>

            <th>Ruidos </th>
            <td>{{HistoriaClinica.ruidos}}</td>
        </tr>
        <tr>
            <th>Otros </th>
            <td colspan="5">{{HistoriaClinica.otros}}</td>
        </tr>

    </tbody>
</table>


<!-- Articulación temporomandibular -->
<h4 class="page-header"><strong>Articulación temporomandibular</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th style="width: 20%;">Chasquidos </th>
            <td style="width: 10%;">{{HistoriaClinica.chasquidos}}</td>

            <th style="width: 30%;">Crepitación </th>
            <td style="width: 10%;">{{HistoriaClinica.crepitacion}}</td>

            <th>Fatiga o dolor muscular </th>
            <td style="width: 10%;">{{HistoriaClinica.fatigadolormuscular}}</td>
        </tr>
        <tr>
            <th>Crepitación </th>
            <td>{{HistoriaClinica.crepitacion}}</td>

            <th>Dolor a la abertura o movimientos de lateralidad </th>
            <td>{{HistoriaClinica.dolorabertura}}</td>

            <th>Dificultad para abrir la boca </th>
            <td>{{HistoriaClinica.difparaAbrirlaboca}}</td>
        </tr>
        <tr>

            <th>Disminución de la abertura </th>
            <td>{{HistoriaClinica.disminuciondelaavertura}}</td>

            <th>Desviación a la abertura cierre </th>
            <td>{{HistoriaClinica.desviacionaverturadecierre}}</td>

            <th> </th>
            <td></td>
        </tr>

    </tbody>
</table>


<!-- Tejidos Blandos -->
<h4><strong>Tejidos Blandos</strong></h4>

<table class="table table-bordered">

    <tbody>
  
        <tr>
            <th>Ganglios </th>
            <td>{{HistoriaClinica.ganglios}}</td>

            <th>Glándulas Salivales </th>
            <td>{{HistoriaClinica.glandulassalivales}}</td>
        </tr>
        <tr>
            <th>Labio externo </th>
            <td>{{HistoriaClinica.labioExterno}}</td>

            <th>Borde bermellón </th>
            <td>{{HistoriaClinica.bordebermellon}}</td>
        </tr>
        <tr>
            <th>Labio interno </th>
            <td>{{HistoriaClinica.labiointerno}}</td>

            <th>Comisuras </th>
            <td>{{HistoriaClinica.Comisuras}}</td>
        </tr>
        <tr>
            <th>Carrillos </th>
            <td>{{HistoriaClinica.carrillos}}</td>

            <th>Fondo de saco </th>
            <td>{{HistoriaClinica.fondodesaco}}</td>
        </tr>
        <tr>
            <th>Frenillos </th>
            <td>{{HistoriaClinica.frenillos}}</td>
        
            <th>Lengua tercio medio </th>
            <td>{{HistoriaClinica.lenguaTerciomedio}}</td>
        </tr>
        <tr>
            <th>Paladar duro </th>
            <td>{{HistoriaClinica.paladarDuro}}</td>

            <th>Paladar blando </th>
            <td>{{HistoriaClinica.paladarBlando}}</td>
        </tr>
        <tr>
            <th>Istmo bucofaringe </th>
            <td>{{HistoriaClinica.istmoBucofaringe}}</td>

            <th>Lengua dorso </th>
            <td>{{HistoriaClinica.lenguaDorso}}</td>
        </tr>
        <tr>
            <th>Lengua bordes </th>
            <td>{{HistoriaClinica.lenguaBordes}}</td>

            <th>Lengua ventral </th>
            <td>{{HistoriaClinica.lenguaVentral}}</td>
        </tr>
        <tr>
            <th>Piso de la boca </th>
            <td>{{HistoriaClinica.pisodelaBoca}}</td>

            <th>Dientes </th>
            <td>{{HistoriaClinica.dientes}}</td>
        </tr>
        <tr>
            <th>Mucosa del borde alveolar </th>
            <td>{{HistoriaClinica.mucosadelBordealveolar}}</td>

            <th>Encía </th>
            <td>{{HistoriaClinica.encia}}</td>
        </tr>

    </tbody>
</table>


<!-- Dental -->
<h4><strong>Dental</strong></h4>

<table class="table table-bordered">

    <tbody>
  
        <tr>
            <th>Gingivitis </th>
            <td>{{HistoriaClinica.gingivitis}}</td>

            <th>Periodontitis </th>
            <td>{{HistoriaClinica.periodontitis}}</td>
        </tr>
        <tr>
            <th>Recesión gingival </th>
            <td>{{HistoriaClinica.receciongingival}}</td>

            <th>Bolsas Periodontales </th>
            <td>{{HistoriaClinica.bolsasperiodontales}}</td>
        </tr>
        <tr>
            <th>Movilidad Dentario </th>
            <td>{{HistoriaClinica.movilidadDentario}}</td>

            <th>Indice de Placa </th>
            <td>{{HistoriaClinica.indicedeplaca}}</td>
        </tr>
        <tr>
            <th>Interpretación radiográfica </th>
            <td>{{HistoriaClinica.interpretacionradiografica}}</td>

            <th>Estudios de laboratorio y gabinete </th>
            <td>{{HistoriaClinica.estudiosdeLaboratorio}}</td>
        </tr>
        <tr>
            <th>Interpretación de los estudios de laboratorio y gabinete </th>
            <td>{{HistoriaClinica.interpretacionEstudiosLaboratorio}}</td>
        </tr>

    </tbody>
{% endif %}
</table>
</div>
{% endblock content %}