{% extends "basePDF.html" %}
{%load static from staticfiles %}


{% block title %} 
    <h2 class="pull-left"> Expediente Medico Dental</h2>   
{% endblock title %}


{% block content %}

{% if interrogatorio %}

<p>Credencial del Paciente: <strong> {{interrogatorio.credencialPaciente}}</strong></p>

<p>Nombre del Paciente: <strong>{{interrogatorio.paciente}}</strong></p>

<p>Atendido por: <strong>Dr. {{interrogatorio.medico}}</strong></p>

<p>Fecha Consulta: <strong>{{fecha}}</strong> Hora: <strong>{{hora}}</strong></p>

<br>
<!-- Antecedentes Patológicos Hereditarios -->
<h4><strong>Antecedentes Patológicos Hereditarios</strong></h4>

<div id="interrogatorioPDF">
<table class="table">

    <tbody>
  
        <tr>
           	<th>Madre: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaMadre}}</td>
        </tr>
        <tr>
            <th>Padre: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaPadre}}</td>
        </tr>
        <tr>
            <th>Hermanos: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaHermanos}}</td>
        </tr>
        <tr>
            <th>Hijos: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaHijos}}</td>
        </tr>
        <tr>
            <th>Esposo (a): </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaEsposos}}</td>
        </tr>
        <tr>
            <th>Tios: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaTios}}</td>
        </tr>
        <tr>
            <th>Abuelos: </th>
        </tr>
        <tr>
            <td>{{interrogatorio.herenciaAbuelos}}</td>
        </tr>
	</tbody>
</table>


<!-- Antecedentes personales Patológicos -->
<h4><strong>Antecedentes personales Patológicos</strong></h4>

<table class="table">

    <tbody>
        <tr>
            <th style="width: 10%;">Enfermedades inflamatorias: </th>
            <td style="width: 33%;">{{interrogatorio.eInflamatoriasnotopciones}}</td>

            <th style="width: 20%;">Enfermedades de trans. sexual: </th>
            <td style="width: 33%;">{{interrogatorio.ets}}</td>
        </tr>
        <tr>
            <th>Enfermedades degenerativas: </th>
            <td>{{interrogatorio.eDegenerativas}}</td>

            <th>Enfermedades neoplásicas: </th>
            <td>{{interrogatorio.eNeoplasticas}}</td>
        </tr>
        <tr>
            <th>Enfermedades congénitas: </th>
            <td>{{interrogatorio.eCongenitas}}</td>

            <th>Otras: </th>
            <td>{{interrogatorio.otras}}</td>
        </tr>

    </tbody>   
</table>


<!-- Antecedentes personales No Patológicos -->
<h4><strong>Antecedentes personales No Patológicos</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th>Hábitos higiénicos (En el vestuario) </th>
        </tr>
        <tr>
            <td>{{interrogatorio.habitosHigienicosVest}}</td>
        </tr>
    </tbody>
</table>


<table class="table">

    <tbody>
  
        <tr>
            <th>Hábitos higiénicos (Corporales) </th>
        </tr>
        <tr>
            <td>{{interrogatorio.habitosHigienicosCorp}}</td>
        </tr>

    </tbody>
</table>


<table class="table">

    <tbody>
        <tr>
            <th style="width: 23%;">¿Con que Frecuencia se lava los dientes? </th>
            <td>{{interrogatorio.frecuenciaLavadoDental}}</td>

            <th style="width: 20%;">¿Utiliza auxiliares de higiene bucal? </th>
            <td>{{interrogatorio.uxiliaresBucales}}</td>


            <th style="width: 30%;">Consumo de alimentos entre comidas (golosinas,otros) </th>
            <td>{{interrogatorio.consumodeGolosinas}}</td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>
            <th>Grupo sanguíneo </th>
            <td>{{interrogatorio.gruposanguineo}}</td>

            <th>Factor Rh </th>
            <td>{{interrogatorio.factorRh}}</td>

            <th>¿Cuenta con Cartilla de vacunación? </th>
            <td>{{interrogatorio.cartilladeVacunacion}}</td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>           
            <th style="width: 10%;">Adicciones: </th>
            <td style="width: 10%;">{{interrogatorio.adicciones}}</td>

            <th style="width: 28%;">Antecedentes alérgicos: </th>
            <td style="width: 10%;">{{interrogatorio.alergias}}</td>

            <th>¿Tiene el esquema completo? </th>
            <td>{{interrogatorio.esquemaCompleto}}</td>
        </tr>
    </tbody>
</table>


<table class="table">

    <tbody>
        <tr>
            <th style="width: 24%;">Especifique cuál falta: </th>
            <td>{{interrogatorio.esquemaFalta}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>¿Ha sido hospitalizado? </th>
        </tr>
        <tr>
            <td colspan="4">{{interrogatorio.fechaHospitalizaion}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>Motivo de su hospitalización </th>
        </tr>
        <tr>
            <td colspan="4">{{interrogatorio.motivo}}</td>
        </tr>
        <tr>
            <th colspan="4"><br>Padecimiento Actual </th>
        </tr>        
        <tr>
            <td colspan="4">{{interrogatorio.padecimientoActual}}</td>
        </tr>

    </tbody>
</table>


<!-- Interrogatorio por aparatos y sistemas -->
<h4><strong>Interrogatorio por aparatos y sistemas</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th>Cabeza </th>
            <td>{{interrogatorio.cabeza}}</td>

            <th>Cráneo </th>
            <td style="width: 15%;">{{interrogatorio.craneo}}</td>

            <th>Cara </th>
            <td>{{interrogatorio.caraAsimetria}}</td>
        </tr>
        <tr>
            <th>Piel </th>
            <td>{{interrogatorio.piel}}</td>

            <th>Cuello </th>
            <td>{{interrogatorio.cuello}}</td>

            <th>Perfil </th>
            <td>{{interrogatorio.perfil}}</td>
        </tr>
        <tr>
            <th>Músculos </th>
            <td colspan="3">{{interrogatorio.musculos}}</td>

            <th>Ruidos </th>
            <td>{{interrogatorio.ruidos}}</td>
        </tr>
        <tr>
            <th>Otros </th>
            <td colspan="5">{{interrogatorio.otros}}</td>
        </tr>

    </tbody>
</table>


<!-- Articulación temporomandibular -->
<h4 class="page-header"><strong>Articulación temporomandibular</strong></h4>

<table class="table">

    <tbody>
  
        <tr>
            <th style="width: 20%;">Chasquidos </th>
            <td style="width: 10%;">{{interrogatorio.chasquidos}}</td>

            <th style="width: 30%;">Crepitación </th>
            <td style="width: 10%;">{{interrogatorio.crepitacion}}</td>

            <th>Fatiga o dolor muscular </th>
            <td style="width: 10%;">{{interrogatorio.fatigadolormuscular}}</td>
        </tr>
        <tr>
            <th>Crepitación </th>
            <td>{{interrogatorio.crepitacion}}</td>

            <th>Dolor a la abertura o movimientos de lateralidad </th>
            <td>{{interrogatorio.dolorabertura}}</td>

            <th>Dificultad para abrir la boca </th>
            <td>{{interrogatorio.difparaAbrirlaboca}}</td>
        </tr>
        <tr>

            <th>Disminución de la abertura </th>
            <td>{{interrogatorio.disminuciondelaavertura}}</td>

            <th>Desviación a la abertura cierre </th>
            <td>{{interrogatorio.desviacionaverturadecierre}}</td>

            <th> </th>
            <td></td>
        </tr>

    </tbody>
</table>


<!-- Tejidos Blandos -->
<h4><strong>Tejidos Blandos</strong></h4>

<table class="table table-bordered">

    <tbody>
  
        <tr>
            <th>Ganglios </th>
            <td>{{interrogatorio.ganglios}}</td>

            <th>Glándulas Salivales </th>
            <td>{{interrogatorio.glandulassalivales}}</td>
        </tr>
        <tr>
            <th>Labio externo </th>
            <td>{{interrogatorio.labioExterno}}</td>

            <th>Borde bermellón </th>
            <td>{{interrogatorio.bordebermellon}}</td>
        </tr>
        <tr>
            <th>Labio interno </th>
            <td>{{interrogatorio.labiointerno}}</td>

            <th>Comisuras </th>
            <td>{{interrogatorio.Comisuras}}</td>
        </tr>
        <tr>
            <th>Carrillos </th>
            <td>{{interrogatorio.carrillos}}</td>

            <th>Fondo de saco </th>
            <td>{{interrogatorio.fondodesaco}}</td>
        </tr>
        <tr>
            <th>Frenillos </th>
            <td>{{interrogatorio.frenillos}}</td>
        
            <th>Lengua tercio medio </th>
            <td>{{interrogatorio.lenguaTerciomedio}}</td>
        </tr>
        <tr>
            <th>Paladar duro </th>
            <td>{{interrogatorio.paladarDuro}}</td>

            <th>Paladar blando </th>
            <td>{{interrogatorio.paladarBlando}}</td>
        </tr>
        <tr>
            <th>Istmo bucofaringe </th>
            <td>{{interrogatorio.istmoBucofaringe}}</td>

            <th>Lengua dorso </th>
            <td>{{interrogatorio.lenguaDorso}}</td>
        </tr>
        <tr>
            <th>Lengua bordes </th>
            <td>{{interrogatorio.lenguaBordes}}</td>

            <th>Lengua ventral </th>
            <td>{{interrogatorio.lenguaVentral}}</td>
        </tr>
        <tr>
            <th>Piso de la boca </th>
            <td>{{interrogatorio.pisodelaBoca}}</td>

            <th>Dientes </th>
            <td>{{interrogatorio.dientes}}</td>
        </tr>
        <tr>
            <th>Mucosa del borde alveolar </th>
            <td>{{interrogatorio.mucosadelBordealveolar}}</td>

            <th>Encía </th>
            <td>{{interrogatorio.encia}}</td>
        </tr>

    </tbody>
</table>


<!-- Dental -->
<h4><strong>Dental</strong></h4>

<table class="table table-bordered">

    <tbody>
  
        <tr>
            <th>Gingivitis </th>
            <td>{{interrogatorio.gingivitis}}</td>

            <th>Periodontitis </th>
            <td>{{interrogatorio.periodontitis}}</td>
        </tr>
        <tr>
            <th>Recesión gingival </th>
            <td>{{interrogatorio.receciongingival}}</td>

            <th>Bolsas Periodontales </th>
            <td>{{interrogatorio.bolsasperiodontales}}</td>
        </tr>
        <tr>
            <th>Movilidad Dentario </th>
            <td>{{interrogatorio.movilidadDentario}}</td>

            <th>Indice de Placa </th>
            <td>{{interrogatorio.indicedeplaca}}</td>
        </tr>
        <tr>
            <th>Interpretación radiográfica </th>
            <td>{{interrogatorio.interpretacionradiografica}}</td>

            <th>Estudios de laboratorio y gabinete </th>
            <td>{{interrogatorio.estudiosdeLaboratorio}}</td>
        </tr>
        <tr>
            <th>Interpretación de los estudios de laboratorio y gabinete </th>
            <td>{{interrogatorio.interpretacionEstudiosLaboratorio}}</td>
        </tr>

    </tbody>
{% endif %}
</table>
</div>
{% endblock content %}