{% extends "dash.html" %}
{% load static from staticfiles %}

{% block title %}Expediente Medico y Dental{% endblock %}

{% block content %}
{% load dajaxice_templatetags %}
<!-- script necesario -->
<script src="{% static 'js/jquery.dajax.core.js'%}"></script>
{% dajaxice_js_import %}


<h2 class="page-header">Expediente M&eacute;dico y Dental</h2>

{% load crispy_forms_tags %}
{% crispy form %}

{% endblock content %}
{% block javascript %}
<script type="text/javascript">
$( document ).ready(function() {
	$('#id_credencialPaciente').keydown(function(event){
	    if(event.keyCode == 13)
	    {
	    	var dni = $('#id_credencialPaciente').val();
	    	console.log(dni);
			Dajaxice.ActividadesClinicas.get_person(Dajax.process, {'dni':dni});
	    	event.preventDefault();
	    }
	});
});

// disables paciente select
// and fills in the value by id
(function() {
	var paciente = $('#id_paciente');

	paciente.val('{{ paciente.id }}');
	paciente.attr('readonly', '');
})();
</script>
{% endblock javascript %}
