<div class="diente"><!--diente 1-->
	<input name="valor" type="hidden" value="1">
	<div class="cuadro click"><input name="cuadro" type="hidden" value="1"></div>
	<div class="cuadro izquierdo click"><input name="cuadro" type="hidden" value="2"></div>
	<div class="cuadro debajo click"><input name="cuadro" type="hidden" value="3"></div>
	<div class="cuadro derecha click"><input name="cuadro" type="hidden" value="hola"></div>
	<div class="centro click"><input name="cuadro" type="hidden" value="5"></div>
</div>
        <div id="color">
	<div class="select"></div>
	<div class="select"></div>
	<div class="select"></div>
	<div class="select"></div>
	<div class="select"></div>
	<div class="select"></div>
</div>