{% extends "base1.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
  <link rel="stylesheet" href="{%static 'css/jquery-ui-1.8.17.custom.css'%}">
  <link rel="stylesheet" href="{%static 'css/jquery.svg.css'%}">
  <link rel="stylesheet" href="{%static 'css/odontograma1.css'%}">
  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{% static 'js/modernizr-2.0.6.min.js'%}"></script>
{% endblock %}

{% block content %}

<h2>Odontograma</h2>

<div class="well odontograma clearfix">
  <img src="{% static paciente.imagen %}" alt="{{ paciente.nombre }} {{ paciente.apellidoPaterno }}" class="pull-left img-rounded">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Grupo</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</td>
        <td>{{ paciente.grupo }}</td>
        <td>{{ paciente.telefono }}</td>
      </tr>
    </tbody>
  </table>
</div>


  <div id="main" role="main">
    <div id="tratamiento">

      <h2>Tratamiento</h2>

      <select data-bind=" options: tratamientosPosibles,
                          value: tratamientoSeleccionado,
                          optionsText: function(item){ return item.nombre; },
                          optionsCaption: 'Seleccione un tratamiento...'"></select>

      <form method="post" action="">
          {{ formset.management_form }}
        <ul data-bind="foreach: tratamientosAplicados">
          <li>
            <!--P<span data-bind="text: diente.id"></span><span data-bind="text: cara"></span>-->

            <!-- <p>Pieza:<input data-bind="value: diente.id"></p> -->
            <!-- <p>Cara:<input data-bind="value: cara"></p>        -->
            <!-- <p>tratamiento:<input data-bind="value: tratamiento.nombre"></p> -->
            {% for procedimientoForm in formset %}
            <div class="form-horizontal">{% crispy procedimientoForm %}</div>
            {%endfor%}
          
            <a href="#" data-bind="click: $parent.quitarTratamiento">Eliminar</a>
          </li>
        </ul>
      </div>
      <div id="odontograma-wrapper">
        <h2>Odontograma</h2>
        <div id="odontograma"></div>
      </div>      
    </div>
    <div class="form-horizontal" >{% crispy form %}</div>
    <footer>
      
    </footer>
  </div> <!--! end of #container -->    


</form>
{% endblock %}

{% block javascript %}  <!-- scripts concatenated and minified via ant build script-->
  <script src="{% static 'js/plugins.js'%}"></script>
  <script src="{% static 'js/jquery-ui-1.8.17.custom.min.js'%}"></script>
  <script src="{% static 'js/jquery.tmpl.js'%}"></script>
  <script src="{% static 'js/knockout-3.3.0.js'%}"></script>
  <script src="{% static 'js/jquery.svg.min.js'%}"></script>  
  <script src="{% static 'js/jquery.svggraph.min.js'%}"></script>  
  <script src="{% static 'js/odontograma.js'%}"></script>
   <!-- end scripts-->



{% endblock %}

