{% extends "base1.html" %}
{%load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css'%}">
{% endblock css %}

{% block content %}




        <h2 class="page-header">Odontograma Para Diagnostico </h2>



       <div id="tabla1">
<table align="center" border="0" style="float-left:" >
<tr>
     <td>
        <img src="{{STATIC_URL}}img/maxilary_third_molar_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/maxilary_second_molar_left.jpg" width="30px" heigth="30px" alt="Segundo Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/maxilary_first_molar_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/maxilary_second_premolar_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/maxilary_first_premolar_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/maxilary_canine_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_second_incisor_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td >
        <img src="{{STATIC_URL}}img/maxilary_first_incisor_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_first_incisor_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_second_incisor_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_canine_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
    </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_first_premolar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_second_premolar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
    </td>

    <td >
        <img src="{{STATIC_URL}}img/maxilary_first_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_second_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

    <td>
        <img src="{{STATIC_URL}}img/maxilary_third_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>

</tr>
</table>

</div>

<table border="0" align="center">
<tr>
    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

         <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

      <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

      <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>
    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

       <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>
       <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

          <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

      <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

       <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

             <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

</tr>

</table>


<HR><br>


<table border="0" align="center">
<tr>
     <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

        <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

       <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

  <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

     <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow' > </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

   <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>
    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'> </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'> </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'> </div>
    </td>

    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

  <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

   <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>
    <td>
    <div class="diente">    <input name="cuadro" type="checkbox" value="1"></div>
        <div class="cuadro click"            onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro izquierdo click"  onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro debajo click"     onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="cuadro derecha click"    onClick=this.style.backgroundColor='yellow'>  </div>
        <div class="centro click"            onClick=this.style.backgroundColor='yellow'>  </div>
    </td>

</tr>

</table>

<div id="tabla4">
<table align="center" border="0"  >
<tr>
     <td>
        <img src="{{STATIC_URL}}img/mandibular_third_molar_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/mandibular_second_molar_left.jpg" width="30px" heigth="30px" alt="Segundo Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/mandibular_first_molar_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/mandibular_second_premolar_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>
     <td>
        <img src="{{STATIC_URL}}img/mandibular_first_premolar_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_canine_left.jpg" width="30px" heigth="10px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_second_incisor_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td >
        <img src="{{STATIC_URL}}img/mandibular_first_incisor_left.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_first_incisor_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_second_incisor_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_canine_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
    </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_first_premolar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_second_premolar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
    </td>
    <td >
        <img src="{{STATIC_URL}}img/mandibular_first_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_second_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
    <td>
        <img src="{{STATIC_URL}}img/mandibular_third_molar_right.jpg" width="30px" heigth="30px" alt="Tercer Molar Izquierdo"/>
     </td>
</tr>
</table>

</div> <!--Fin Div Tabla 4 -->
<br><br><br><br>
  <div class"row">
        {% crispy form %}
  </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery-ui.js'%}"></script>
{% endblock javascript %}
