{% extends "base1.html" %}

{%load static from staticfiles %}

{% block content %}

	<h2 class="page-header">Detalles de Producto</h2>


			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Producto</th>
						<th class="text-center">Cantidad</th>
						<th class="text-center">Precio</th>
						
						<th class="text-center">Última Modificación</th>
					</tr>
				</thead>
				<tbody>
  			<tr>
  				<td>{{ entrada.producto }}</td>
  				<td align="center">{{ entrada.producto.porciones }}</td>
  				<td align="center">${{ entrada.producto.precio }}</td>
  				
  				<td align="center">{{ entrada.fecha }}</td>
  			</tr>
				</tbody>
			</table>

{% endblock content %}
