{% extends "dash.html" %}
{% block title %}Entradas Canceladas{% endblock %}

{% block content %}
<h2 class="page-header">Cancelaciones De Entradas <small class="pull-right"><a href="{% url inventario:entradas_canceladas_pdf %}"><span class="glyphicon glyphicon-print"></span> Imprimir</a></small></h2>

{% if entradas %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Fecha</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for entrada in entradas %}
    <tr>

      <td>{{ entrada.created_at }}</td>
      <td>{{ entrada.producto }}</td>
      <td>{{ entrada.porciones }}</td>
      <td><a href="{% url inventario:entradacancelada_detail entrada.cancelentrada_set.get.id %}" class="btn btn-default">Ver Entrada</a></td>

    </tr>
    {% endfor %}

  </tbody>

</table>

  {% if is_paginated %}
  <nav>

    <ul class="pager">

      <li class="previous">

        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
        {% endif %}

      </li>

      <li class="text-muted">{{ page_obj }}</li>

      <li class="next">

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
        {% endif %}

      </li>

    </ul>

  </nav>
  {% endif %}
{% else %}
<p class="text-center text-muted lead">No hay entradas canceladas.</p>
{% endif %}
{% endblock content %}
