{% extends "basePDF.html" %}
{%load static from staticfiles %}

{% block title %}

<h2 class="pull-left"> Expediente Medico Dental</h2>

{% endblock title %}

{% block content %}

<h4 class="page-header">Lista de Productos en Inventario</h4>

<p>Fecha: <strong>{{fecha}}</strong> Hora: <strong>{{hora}}</strong></p>

{% if categorias %}

<table class="table">
    <tbody>  
    {%for c in categorias %}
            <tr style="background: #ccc;">    
                <th>Categoria de {{c}}</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>            
                {% for p in c.producto_set.all %}
            <tr>
                <td>{{p.nombre}}</td>
                <td class="text-center">${{p.precio}}</td>
                <td class="text-center">{{p.entradas_set.get.cantidad}}</td>
                <td class="text-center">${{p.entradas_set.get.total}}</td>
                    {% endfor %}
            </tr>
    {% endfor %}
    </tbody>
    {% endif %}
    </table>

{% endblock content %}

