{% extends "dash.html" %}
{% block title %}Inventario - Productos{% endblock %}

{% block content %}
<h2 class="page-header">Prductos</h2>

{% if search_string %}

<p class="text-center">Usted ingresó "{{ search_string }}" :</p>

  {% if objects %}
  <table class="table table-hover">

    <thead>

      <tr>

        <th>Producto</th>
        <th>Stock</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>

      {% for producto in objects %}
      <tr>
        <td class="padded">{{ producto.nombre }}</td>
        <td class="padded">{{ producto.porciones }}</td>
        <td class="text-right"><a href="{% url inventario:entradas_producto producto.id %}" class="btn btn-info">Registrar Entrada</a></td>
      </tr>
      {% endfor %}

    </tbody>

  </table>
  {% else %}
  <p class="lead text-center text-muted">No se han encontrado productos con ese nombre.</p>
  {% endif %}
  <p class="text-center">
    <a href="{% url inventario:producto_search %}" class="btn btn-primary">Nueva Búsqueda <span class="glyphicon glyphicon-arrow-right"></span></a>
  </p>

{% else %}

  <div class="text-center search clearfix">

    <form action="" method="GET">

      <label for="q" class="lead">Ingrese el nombre del Producto:</label>
      <input type="text" name="q" class="form-control" placeholder="Nombre del producto..." value="{{ query|escape }}">
      <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-search'></span> Buscar</button>

    </form>

  </div>

{% endif %}
{% endblock content %}
