{% extends "dash.html" %}
{% block title %}Inventario - Productos{% endblock %}

{% block content %}
<h2 class="page-header">Prductos</h2>

{% if search_string %}

<p class="text-center">Usted ingreso "{{ search_string }}" :</p>

  {% if objects %}
  <table class="table table-hover">

    <thead>

      <tr>

        <th>Producto</th>
        <th>Stock</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>

      {% for producto in objects %}
      <tr>
        <td class="padded">{{ producto.nombre }}</td>
        <td class="padded">{{ producto.porciones }}</td>
        <td class="text-right">
          {% if producto.is_inactive %}
          <a href="{% url inventario:productocancelado_detail producto.id %}" class="btn btn-default">Ver Producto</a>
          {% else %}
          <a href="{% url inventario:entradas_producto producto.id %}" class="btn btn-info">Registrar Entrada</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>

  </table>

    {% if is_paginated %}
    <nav>

      <ul class="pager">

        <li class="previous">

          {% if page_obj.has_previous %}
          <a href="?q={{ search_string }}&page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
          {% endif %}

        </li>

        <li class="text-muted">{{ page_obj }}</li>

        <li class="next">

          {% if page_obj.has_next %}
          <a href="?q={{ search_string }}&page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
          {% endif %}

        </li>

      </ul>

    </nav>
    {% endif %}
  {% else %}
  <p class="lead text-center text-muted">No Se Han Encontrado Productos Con Ese Nombre.</p>
  {% endif %}
  <p class="text-center">
    <a href="{% url inventario:producto_search %}" class="btn btn-primary">Nueva Búsqueda <span class="glyphicon glyphicon-arrow-right"></span></a>
  </p>

{% else %}

  <div class="text-center search clearfix">

    <form action="" method="GET">

      <label for="q" class="lead">Ingrese El Nombre Del Producto:</label>
      <input type="text" name="q" class="form-control" placeholder="Nombre del producto..." value="{{ query|escape }}">
      <button type="submit" class="btn btn-primary"><span class='glyphicon glyphicon-search'></span> Buscar</button>

    </form>

  </div>

{% endif %}
{% endblock content %}
