{% extends "dash.html" %}
{%load static from staticfiles %}

{% block title %}Productos Registrados{% endblock %}

{% block content %}

<h2 class="page-header">Productos Registrados <small class="pull-right"><a href="{% url inventario:productos_pdf %}"><span class="glyphicon glyphicon-print"></span> Imprimir</a></small></h2>

{% if productos %}
<table class="table table-condensed" id="producto">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Unidad de medida</th>
      <th>Precio/Unidad</th>
      <th>Existencia</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.unidad_medida }}</td>
      <td>{{ producto.precio_porcion }}</td>
      <td>{{ producto.porciones }}</td>
      <td><a href="{% url inventario:producto_update producto.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td><a href="{% url inventario:entradas_producto producto.id %}"><span class="glyphicon glyphicon-plus"></span></a></td>
      <td><a href="{% url inventario:producto_detail producto.id %}"><span class="glyphicon glyphicon-search"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url inventario:producto_create %}" class="btn btn-primary pull-right">Registrar Nuevo Producto <span class="glyphicon glyphicon-plus"></span></a>
{% else %}
<p class="lead text-center text-muted">No hay productos registrados en la base de datos.<br><br><a href="{% url inventario:producto_create %}" class="btn btn-primary">Agregar Producto <i class="fa fa-plus fa-fw"></i></a></p>
{% endif %}
{% endblock content %}

{% block javascript%}
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script type="text/javascript">
  //para buscar en las tablas
  // $(function(){
  //   $('#producto').dataTable({
  //     "bPaginate": true,
  //     "bLengthChange": true,
  //     "bFilter": true,
  //     "bSort": true,
  //     "bInfo": true,
  //     "bAutoWidth": true
  //   });
  // })
</script>

{% endblock javascript%}
