{% extends "dash.html" %}
{% load static from staticfiles %}

{% block content %}

<h2 class="page-header">Unidades De Medida</h2>

{% if unidades %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Unidad</th>
      <th>Prefijo</th>

    </tr>

  </thead>

  <tbody>

    {% for unidad in unidades %}
    <tr>

      <td>{{ unidad.unidad }}</td>
      <td>{{ unidad.prefix }}</td>

    </tr>
    {% endfor %}

  </tbody>

</table>

{% if is_paginated %}
<nav>

  <ul class="pager">

    <li class="previous">

      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
      {% endif %}

    </li>

    <li class="text-muted">{{ page_obj }}</li>

    <li class="next">

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
      {% endif %}

    </li>

  </ul>

</nav>
{% endif %}

<a href="{% url inventario:unidad_create %}" class="btn btn-primary pull-right">Registrar Unidad <i class="fa fa-plus fa-fw"></i></a>
{% else %}
<p class="lead text-center text-muted">No hay unidades en la base de datos.<br><br><a href="{% url inventario:unidad_create %}" class="btn btn-primary">Registrar Unidad <i class="fa fa-chevron-right fa-fw"></i></a></p>
{% endif %}
{% endblock content %}
