{% extends "base1.html" %}
{% load static from staticfiles %}

{% block content %}

<h2 class="page-header">Pagos <form action="" method="get" class="form-inline pull-right header-form"><div class="input-group"><input type="text" placeholder="Busque paciente..." class="form-control"><span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span></div></form></h2>

{% if pagos %}
<table class="table">

  <thead>

    <tr>

      <th>Fecha</th>
      <th>Paciente</th>
      <th>Total</th>
      <th>Su Pago</th>
      <th>Adeudo</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for pago in pagos %}
    <tr>

      <td>{{ pago.updated_at }}</td>
      <td>{{ pago.paciente.nombre }} {{ pago.paciente.apellidoPaterno }} {{ pago.paciente.apellidoMaterno }}</td>
      <td>{{ total_precio }}</td>
      <td>{{ pago.monto_aplicado }}</td>
      <td>{{ total_adeudado }}</td>
      <td><a href="/pagos/{{ pago.id }}/" class="btn btn-success pull-right">Completar Pago</a><!-- boton para ir a pago --></td>

    </tr>
    {% endfor %}

  </tbody>

</table>
{% else %}
<!-- TODO: a message in case there are no pending payments -->
{% endif %}
{% endblock content %}