{% extends 'dash.html' %}
{% block title %}Pagos - Pendientes{% endblock %}

{% block content %}
<h2 class="page-header">Pagos <small class="pull-right">{{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }} #{{ paciente.credencialPaciente }}</small></h2>

{% if pagos %}
<table class="table table-hover">

  <thead>

    <tr>

      <th>Fecha</th>
      <th>Su Pago</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for pago in pagos %}
    <tr>

      <td class="padded">{{ pago.updated_at }}</td>
      <td class="padded">$ {{ pago.monto_aplicado }}</td>
      <td><a href="{% url 'pagos:pagos_detail' pago.id %}" class="btn btn-primary pull-right">Ver Pago</a></td>


    </tr>
    {% endfor %}

    <td><a href="{% url 'pagos:historial' %}" class="btn btn-primary pull-right">imprimir historial</a></td>

  </tbody>

</table>
{% else %}
<p class="lead text-muted text-center">Este paciente no ha realizado pagos.</p>
{% endif %}
{% endblock %}
