{% extends "dash.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
<style>
.importe .form-group {
  margin-bottom: 0px;
  max-width: 100px;
}
.precio:before,
#id_total:before {
  content: "$ ";
}
#div_id_total,
#div_id_fecha,
#div_id_monto {
  max-width: 160px;
  float: left;
  margin-right: 30px;
}
.aplicar {
  margin-top: 25px;
}
.center-block {
  width: 560px;
}
</style>
{% endblock %}

{% block content %}

<h2 class="page-header">Pago <small class="pull-right">Cotizacion #{{ paquete.id }}</small></h2>

<form action="" method="post">
  {{ pa_formset.management_form }}

  <div class="center-block clearfix">

    <div id="div_id_total" class="form-group">
      <label for="id_total">Costo Total</label>
      <div class="controls">
        <p id="id_total" style="margin:8px 0px 0px;">{{ total }}</p>
      </div>
    </div>

    {% crispy form %}

    <a class="btn btn-success aplicar pull-left">Aplicar</a>

  </div>
<div class="panel panel-success">
  <table class="table table-bordered">

    <thead>

      <tr>
        <th>Servicio</th>
        <th>Costo de servicio</th>
        <th>Pagado</th>
        <th>Importe</th>
        <th>Status</th>

      </tr>

    </thead>

    <tbody>
      {% for pa_form in pa_formset %}
      <tr>
        <td class="padded">{{ pa_form.servicio }}</td>
        <td class="precio padded">{{ pa_form.servicio.precio }}</td>
        <td class="padded">$ <span class="saldo">{{ pa_form.servicio.pagoaplicado_set.total_pagado }}</span></td>
        <td class="importe">{% crispy pa_form %}</td>
        <td class="padded"><span class="label">{{ pa_form.servicio.get_status_display }}</span></td>
      </tr>
      {% endfor %}

    </tbody>

  </table>
</div>

  <input type="submit" class="btn btn-primary pull-right" value="Aceptar">
</form>
{% endblock content %}

{% block javascript %}
<script>

$(function() {

  var rows = $('tbody').children(),
      status = $('.label'),
      montoField = $('#id_monto');

  function asignar() {
    var monto = parseInt(montoField.val());

    rows.each(function () {
      var importe = $('.importe input[type="text"]', this),
          costo = parseInt($('.precio', this).text()),
          saldo = parseInt($('.saldo', this).text()),
          valor = Math.min(costo, monto);

      if (!isNaN(saldo)) {
        costo = costo - saldo;
        valor = Math.min(costo, monto);
      }

      monto = monto - valor;
      importe.val(valor);

    });
  }

{% if not form.errors and not pa_formset.errors %}
  asignar();
{% endif %}

  $('.aplicar').on('click', asignar);


  // add stuff to the inputs
  $('#div_id_monto .controls').addClass('input-group');
  $('.importe .controls').addClass('input-group');
  $('.input-group').prepend('<span class="input-group-addon">$</span>');


  // for setting the label color
  $.each(status, function(){
    var status = $(this);

    if(status.text() == 'Aceptado'){

      status.addClass(' label-success');

    } else if(status.text() == 'Pago Parcial'){

      status.addClass(' label-info');

    } else {

      status.addClass(' label-warning');

    }

  })

  // for hiding paciente field
  $('#div_id_paciente').addClass('hidden');

});
</script>
{% endblock javascript%}
