{% extends "dash.html" %}
{% load static from staticfiles %}

{% block content %}

<h2 class="page-header">Pagos <form action="" method="get" class="form-inline pull-right"><div class="input-group"><input type="text" name="q" placeholder="Buscar paciente..." value="{{ query|escape }}" class="form-control"><span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span></div></form></h2>

{% if search_string %}
<div class="well">
  <a href="{% url pagos:pagos_list %}" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>

  <p class="text-center">Usted ingres&oacute; "{{ search_string }}":</p>

    {% if objects %}
    <table class="table table-hover">

      <thead>

        <tr>

          <th>Fecha</th>
          <th>Paciente</th>
          <th>Su Pago</th>
          <th>&nbsp;</th>

        </tr>

      </thead>

      <tbody>

        {% for paciente in objects %}
        {% for pago in paciente.pago_set.all %}
        <tr>

          <td>{{ pago.updated_at }}</td>
          <td>{{ paciente.nombre }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</td>
          <td>{{ pago.monto_aplicado }}</td>
          <td><a href="{% url pagos:pagos_detail pago.id %}" class="btn btn-primary pull-right">Ver Pago</a><!-- boton para ir a pago --></td>

        </tr>
        {% endfor %}
        {% endfor %}

      </tbody>

    </table>
    {% else %}
    <p class="lead text-center text-muted">No se han encontrado pacientes con ese nombre.</p>
    {% endif %}
</div>

<hr>

{% else %}

  {% if pagos %}
  <table class="table">

    <thead>

      <tr>

        <th>Fecha</th>
        <th>Paciente</th>
        <th>Su Pago</th>
        <th>&nbsp;</th>

      </tr>

    </thead>

    <tbody>

      {% for pago in pagos %}
      <tr>

        <td>{{ pago.updated_at }}</td>
        <td>{{ pago.paciente.nombre }} {{ pago.paciente.apellidoPaterno }} {{ pago.paciente.apellidoMaterno }}</td>
        <td>{{ pago.monto_aplicado }}</td>
        <td><div class="btn-group pull-right"><a href="{% url pagos:pagos_detail pago.id %}" class="btn btn-primary">Ver Pago</a><a href="{% url pagos:pagos_paciente pago.paciente.id %}" class="btn btn-default">Ver Todos los Pagos</a></div></td>

      </tr>
      {% endfor %}

    </tbody>

  </table>
  {% else %}
  <p class="lead text-muted text-center">No hay pagos registrados en la base de datos.</p>
  {% endif %}<!-- end if pagos -->
{% endif %}<!-- end if  search_string -->
{% endblock content %}
