{% extends "basePDF.html" %}
{% load static from staticfiles %}



{% block content %}
<div class="well odontograma clearfix">
 
    <alt="{{ pago.paciente.nombre }}
     {{ pago.paciente.apellidoPaterno }}" 
     class="pull-left img-rounded">
  </div>
  <div class="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Grupo</th>
          <th># Presupuesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ pago.paciente}}</td>
          <td>{{ pago.paciente.grupo }}</td>
          <td>{{ pago.id}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Medico Tratante</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>{{ pago.medico }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
    </table>
  </div>
</div><!-- patient info section --> 
<h1 class="page-header">Servicios</h1>


    {% if  pago %}

           <table class="table">
      <thead>
        <tr>
              <th>Plan de Tratamiento</th>
              <th>total</th>
              
        </tr>
      </thead>
           <tbody>
  {% for pago in pago.pagoaplicado_set.all %}
    <tr>
      <td>{{ pago.servicio }}</td>
      <td>$ {{ pago.servicio.precio }}</td>
      
      
    {% endfor %}
  </tbody>
</table>
            
    {% endif %}
          </tbody>
        </table>





{% endblock content %}

