{% extends 'base-pdf.html' %}
<!DOCTYPE html>
{% block title %}Recibo de Pago de Servicios{% endblock %}
{% block headercontent %}
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Nombre</th>
      <td>{{ pago.paciente }}</td>
    </tr>
    <tr>
      <th>Grupo</th>
      <td>{{ pago.paciente.grupo }}</td>
    </tr>
    <tr>
      <th>Medico Tratante</th>
      <td>{{ medico}}</td>
    </tr>
    <tr>
      <th>Fecha</th>
      <td>{{ pago.fecha}}</td>
    </tr>
  </table>
{% endblock %}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>precio</th>
      <th>saldo anterior</th>
      <th>su pago</th>
    </tr>
  </thead>
  <tbody>
    {% for pago in pago.pagoaplicado_set.all %}
    <tr>
      <td>{{ pago.servicio }}</td>
      <td>$ {{ pago.servicio.precio }}</td>
      <td>$ {{ pago.pago.montodisponible }}</td>
      <td>$ {{ pago.importe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="col-xs-4 col-xs-offset-8">
  <table class="table table-bordered">
    <tr>
      <th>Total:</th>
      <td>$ {{ pago.monto_aplicado }}</td>
    </tr>
  </table>
</div>
{% endblock %}
