{% extends 'dash.html' %}

{% block content %}
<h2 class="page-header">{% block title %}Servicios de Paciente{% endblock %}</h2>

{% if servicios %}

<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">

    <div class="panel-heading">Costos de paciente</div>

    <table class="table">

      <tr>

        <th>Precio a paciente:</th>
        <td>$ {{ global_servicios.total }}</td>

      </tr>

      <tr>

        <th>Pago de paciente:</th>
        <td>$ {{ global_servicios.total_pagado }}</td>

      </tr>

      <tr>

        <th>Costo de productos:</th>
        <td>$ {{ costo_total }}</td>

      </tr>

      <tr>

        <th>Diferencia:</th>
        <td>$ {{ diff }}</td>

      </tr>

    </table>

  </div>

</div>

<table class="table">

  <thead>

    <tr>

      <th>Servicio</th>
      <th>Precio</th>
      <th>Pago</th>
      <th>Status</th>
      <th>Fecha de Creaci&oacute;n</th>
      <th>&Uacute;ltima Modificaci&oacute;n</th>
      <th>&nbsp;</th>

    </tr>

  </thead>

  <tbody>

    {% for servicio in servicios %}
    <tr>

      <td>{{ servicio }}</td>
      <td>$ {{ servicio.precio }}</td>
      <td>$ {{ servicio.total_pagado }}</td>
      <td><span class="label label-default">{{ servicio.get_status_display }}</span></td>
      <td>{{ servicio.created_at }}</td>
      <td>{{ servicio.updated_at }}</td>
      <td><a href="{% url utilidad:utilidad_servicio servicio.id %}"><i class="fa fa-search fa-fw"></i></a></td>

    </tr>
    {% endfor %}

  </tbody>

</table>

{% if is_paginated %}
<nav>
  <ul class="pager">
    <li class="previous">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
      {% endif %}
    </li>

    <li class="text-muted">{{ page_obj }}</li>

    <li class="next">
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}

{% else %}
<p class="lead text-muted">Este paciente no tiene servicios con pagos.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>

$(function() {

  var status = $('.label');

  // for setting the label color
  $.each(status, function(){
    var status = $(this);

    if(status.text() == 'Pagado'){

      status.addClass(' label-primary');

    } else if(status.text() == 'Pago Parcial'){

      status.addClass(' label-info');

    } else if(status.text() == 'Aceptado'){

      status.addClass(' label-success');

    } else {

      status.addClass(' label-warning');

    }

  })

});
</script>
{% endblock %}

